<div class="row  mx-auto">
    <div class="col-md-3">
        <ul>
            <a routerLink="/endocrinologia/siadh">
                <li>Síndrome de secreción inadecuada de la hormona antidiurética (SIADH)</li>
            </a>
            <a routerLink="/endocrinologia/diabetes-insipida">
                <li>Diabetes Insípida</li>
            </a>
            <a routerLink="/endocrinologia/hipoglicemia">
                <li>Hipoglicemia</li>
            </a>
            <a routerLink="/endocrinologia/hiperplasia-suprarrenal">
                <li>Hiperplasia suprarrenal congénita por déficit 21-hidroxilasa</li>
            </a>
            <a routerLink="/endocrinologia/salud-osea">
                <li>Salud ósea en paciente pediátrico con necesidades especiales en salud</li>
            </a>
        </ul>
    </div>
    <div class="col-md-9 mb-5">
        <router-outlet></router-outlet>
    </div>
</div>