<h2>NEUMONIA COMPLICADA</h2>
<h5>Dra. Camila Jerez Ríos</h5>
<hr>
<p>Se refiere a aquella que no responde a tratamiento habitual, definido como insuficiencia respiratoria y/o persistencia de fiebre 48-72 h desde el inicio de tratamiento.</p>
<h5>Epidemiología</h5>
<p>Aprox 20-40% de los niños hospitalizados por neumonía presentarán derrame pleural y hasta un 0.6% progresará a empiema.</p>
<h5>Clasificación</h5>
<p>Las complicaciones de neumonía se pueden clasificar en locales y sistémicas:</p>
<div class="table-responsive">
    <table class="table table-hover table-striped bg-light rounded">
        <thead>
            <tr>
                <th>
                    LOCALES
                </th>
                <th>
                    SISTÉMICAS
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>DERRAME PLEURAL</td>
                <td>SEPSIS/SHOCK SEPTICO</td>
            </tr>
            <tr>
                <td>EMPIEMA PLEURAL</td>
                <td>SINDROME DE DISTRES RESPIRATORIO</td>
            </tr>
            <tr>
                <td>ABSCESO PULMONAR</td>
                <td>SIADH</td>
            </tr>
            <tr>
                <td>NEUMONIA NECROTIZANTE</td>
                <td>CID</td>
            </tr>
            <tr>
                <td>FISTULA BRONCOPLEURAL <br> NEUMATOCELE <br> NEUMOTORAX-NEUMOMEDIASTINO
                </td>
                <td>TROMBOCITOSIS SECUNDARIA</td>
            </tr>
        </tbody>
    </table>
</div>
<P>En este caso nos abocaremos a las complicaciones locales y de ellas particularmente al derrame y empiema pleural.</P>
<h5>Etiología</h5>
<p>La identificación del germen etiológico es difícil. Estudios epidemiológicos indican que el microorganismo más frecuente es el Streptococus pneumoniae, pre y post vacuna antineumococo. Le sigue en frecuencia Staphylococcus aureus, incluyendo cepas meticilino
    resistentes y productoras de factores de virulencia como PVL. Ya menos frecuentes encontramos al Streptococcus pyogenes, anaerobios (Particular importancia en paciente con factores de riesgo de aspiración), Haemophillus influenzae tipo b, Pseudomona
    aeruginosa, Mycoplasma pneumoniae y Mycobacterium tuberculosis. También pueden ser causal de neumonía complicada virus respiratorios como Adenovirus e Influenza.</p>

<h5>Factores predisponentes</h5>
<ul>
    <li>Malformaciones pulmonares</li>
    <li>Bronquiectasias</li>
    <li>Enfermedades neurológicas</li>
    <li>Inmunodeficiencias</li>
</ul>
<h5>Fisiopatología</h5>
<p>Los estudios han demostrado que la respuesta inflamatoria del hospedero a componentes del S. pneumoniae es el principal elemento que causa injuria tisular, que lleva a aumento de permeabilidad capilar y/o destrucción del parénquima pulmonar. <br> En relación
    al derrame pleural, este posee cuatro estadios de evolución:
</p>
<ol>
    <li>Estadío precolección: Se limita sólo a inflamación pleural</li>
    <li>Estadío exudativo: Líquido claro, de baja celularidad. Puede o no progresar a los siguientes estadíos. <br> Criterios: Liquido libre, pH >7.2, LDH
        <200 U/I, Glucosa>60 mg/dl
    </li>
    <li>Estadío fibrinopurulento: Depósitos de fibrina con formación de septos y material purulento en el espacio pleural. <br> Criterios: pH
        <7.2, LDH>200 U/L, Glucosa
            <60 mg/dl, pus o fibrina </li>
                <li>Estadío de organización: Engrosamiento pleural que puede causar atrapamiento pulmonar y enfermedad con patrón restrictivo secundario.</li>
</ol>
<h5>Diagnóstico</h5>
<p>Una neumonía complicada se sospecha al momento que no responde a tratamiento habitual, con persistencia de fiebre alta y parámetros inflamatorios elevados, compromiso del estado general, compromiso respiratorio progresivo y eventualmente signos de sepsis,
    luego de 48-72h de tratamiento. <br> Al examen físico podemos encontrar disminución o abolición del murmullo pulmonar con o sin desplazamiento del mediastino, matidez a la percusión, eventualmente abombamiento del hemitórax afectado según la cuantía
    del derrame, además de signos sugerentes de sepsis . <br> En cuanto al derrame pleural, debemos distinguir si el líquido corresponde a un transudado o exudado, con ello nos guiaremos ante los diagnósticos diferenciales, para ello, existen los criterios
    de Light que se comentarán más adelante.
</p>
<h5>Estudio</h5>
<ol>
    <li>Radiografía de tórax AP y Lateral: Se puede evidenciar foco condensante, atelectasias y ocupación pleural cuyo signo precoz corresponde a la pérdida del ángulo costofrénico, mientras más líquido se acumule se va observando opacidad difusa y eventualmente
        desplazamiento del mediastino.</li>
    <li>Ecografía torácica: Mayor sensibilidad, permite evaluar cuantía y características del derrame (Puede determinar presencia de tabiques). Ayuda a guiar punciones pleurales.</li>
    <li>TC de tórax: No de primera línea dado buenos resultados de ecografía y niveles de radiación. Se utiliza sólo en caso de duda diagnostica o sospecha de cuadro clínico asociado.</li>
    <li>Laboratorio: Hemograma, PCR, Gases en sangre, Electrolitos plasmáticos, Hemocultivos</li>
    <li>Toracocentesis: En caso de presentar derrame pleural > 1cm en radiografía o ecografía de tórax, corresponde realizar punción pleural para obtener muestra. Se debe solicitar estudio microbiológico, citológico y bioquímico para determinar a través de
        los criterios de Light el tipo de líquido al que nos enfrentamos.</li>
    <li>
        <div class="table-responsive">
            <table class="table table-hover table-striped bg-light rounded">
                <thead>
                    <tr>
                        <th>
                            Criterios de Light
                        </th>
                        <th>
                            Transudado
                        </th>
                        <th>
                            Exudado
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>LDH derrame pleural</b></td>
                        <td>
                            <200 u/dl</td>
                                <td>>200 U/dl</td>
                    </tr>
                    <tr>
                        <td><b>LDH derrame/LDH sérico</b></td>
                        <td>
                            <0.6</td>
                                <td>>0.6</td>
                    </tr>
                    <tr>
                        <td><b>Proteínas derrame/sérico</b></td>
                        <td>
                            <0.5</td>
                                <td>>0.5</td>
                    </tr>

                </tbody>
                <tbody>
                    <tr>
                        <td colspan="3" class="text-center"><b>Otros parámetros</b></td>

                    </tr>
                    <tr>
                        <td><b>Colesterol</b></td>
                        <td>
                            <45 mg/dl</td>
                                <td>>45 mg/dl</td>
                    </tr>
                    <tr>
                        <td><b>Glucosa</b></td>
                        <td>
                            >60 mg/dl</td>
                        <td>
                            <60 mg/dl</td>
                    </tr>
                    <tr>
                        <td><b>pH</b></td>
                        <td>>7.4</td>
                        <td>
                            <7.3</td>
                    </tr>
                    <tr>
                        <td><b>ADA (Adenosindeaminasa)</b></td>
                        <td colspan="2">>80 U/L: TBC, empiema, Artritis reumatoide, Linfoma</td>

                    </tr>
                    <tr>
                        <td><b>Triglicéridos</b></td>
                        <td colspan="2">> 110 mg/dl = Quilotórax</td>

                    </tr>
                    <tr>
                        <td><b>Quilomicrones</b></td>
                        <td colspan="2">Quilotórax</td>

                    </tr>

                </tbody>

                <tbody>
                    <tr>
                        <td colspan="3" class="text-center"><b>Celularidad</b></td>

                    </tr>
                    <tr>
                        <td><b>Predominio PMN</b></td>
                        <td colspan="2">Procesos infecciosos agudos Empiema, Pancreatitis, Embolias
                        </td>
                    </tr>
                    <tr>
                        <td><b>Predominio Linfocitos</b></td>
                        <td colspan="2">TBC, Transudados
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </li>
</ol>

<h5>Manejo</h5>
<ol>
    <li>Manejo de soporte
        <ul>
            <li> Monitorización</li>
            <li> Oxigenoterapia para Sat O2 > 92%</li>
            <li> Líquidos y electrolitos: Asegurar necesidades basales</li>
            <li> Kinesioterapia respiratoria</li>
            <li> Nutrición optima: Implica eventual necesidad de alimentación enteral por SNG</li>
            <li> Analgesia y antipiréticos en caso necesario</li>
        </ul>
    </li>
    <li>Manejo antibiótico:
        <ul>
            <li>Cefotaxima 100 mg/kg/día c/6 hrs o Ceftriaxona 50 mg/kg/día una vez al día, durante 7 a 10 días. </li>
            <li>Supuración pleuropulmonar: Considerar agregar cloxacilina 100 mg/kg/día.</li>
        </ul>
    </li>
    <li>
        Drenaje pleural: En caso de derrames paraneumónicos de >10 mm no loculados, con dificultad respiratoria, signos de empiema. Inserción precoz del drenaje permite acortar evolución y evitar complicaciones. Se realiza en línea axilar media o posterior 5º
        espacio intercostal, bajo sello de agua. Controlar con radiografía de tórax inserción adecuada. Si a las 24-48 horas no se evidencia débito por drenaje o persiste la fiebre, a pesar de inserción correcta, se debe controlar con ecografía para descartar
        eventual complicación (Tabiques o neumonía necrotizante). <br> Al alcanzar drenaje
        <40-60 ml/día se suele retirar el tubo intrapleural. Algunos autores sugieren mantener el drenaje hasta que el débito sea <1 ml/kg/día de líquido seroso, las 12h previas. No es necesario pinzar el tubo previo al drenaje. </li>
            <li>VATS: En caso de fracaso de tratamiento antibiótico o empiemas tabicados. Permite determinar el estadío del derrame, romper tabiques, drenar material fibrinopurulento y colocar el tubo intrapleural correctamente, permitiendo expansión del
                pulmón afectado y controlar la infección. Disminuye la duración de síntomas, dolor, días de drenaje pleural y la estadía hospitalaria.</li>
            <li>Fibrinolíticos: No ha demostrado ser superior a VATS. Requiere un equipo con experiencia en el procedimiento. Se recomienda Uroquinasa dado mayor experiencia en niños, a través de tubo intrapleural. No disponible aún en nuestro centro.</li>
</ol>
<h5>Control post alta</h5>
<p>Deberá controlarse con radiografías seriadas mensuales hasta resolución completa lo que puede tardar hasta 6 semanas y en caso de engrosamiento pleural hasta 12 semanas post VATS.</p>
<img src="../assets/img/neumonia-complicada/001.png">
<h5>Bibliografía</h5>
<ul>
    <li>D. Moreno-Pérez, et al. Neumonía adquirida en la comunidad: Tratamiento de los casos complicados y en situaciones especiales. Documento de consenso de la sociedad española de neumología pediátrica. An Pediatr (Barc). 2015;83(3):217.e1-217.e11</li>
    <li>Agudelo, B. Neumonía complicada en pediatría, su manejo: Un reto. Neumol Pediatr 2013;8(2):79-85</li>
    <li>Pabary, R. Complicated pneumonia in children. Breathe 2013 9:210-222</li>
    <li>Coria de la H, P. Recomendaciones para el manejo en niños de las neumonías adquiridas en la comunidad. Rec Chil Infect 2004; 21 (Supl 1): S7-S12</li>
</ul>