<h2>Interpretación simplificada del electrocardiograma (ECG) pediátrico</h2>
<h5>Equipo Cardiología Pediátrica</h5>
<hr>
<p>Se describe un modo simple de interpretación utilizando 4 pasos y la memorización de solo algunas reglas. Este método se utiliza por pediatras para obtener un informe preliminar que deber ser confirmado posteriormente por cardiólogo. </p>
<p> Para la toma correcta del ECG deben ubicarse los electrodos en el brazo derecho, izquierdo y la pierna izquierda, cuidando de no ponerlos en forma invertida porque llevara a la creación de falsa anomalías de la onda P. Color rojo en brazo derecho, color
    amarillo en brazo izquierdo, color verde en pierna izquierda y color negro sobre la cresta iliaca (electrodo neutro).</p>
<p>Los electrodos precordiales; desde V1 a V6 se disponen como indica la Figura 1</p>

<h5>Paso 1: Determinar frecuencia y ritmo</h5>
<h5>Frecuencia:</h5>
<p>Utilizando la derivada DII o la derivada con menos artefactos se calcula aproximadamente la frecuencia contando el numero de cuadrados grandes que hay entre 2 QRS: la frecuencia cardiaca será igual e 300 dividido por el número de cuadros grandes entre
    los 2 QRS. (Figura 2)</p>
<h5>Ritmo:</h5>
<ol>
    <li>El ritmo sinusal está presente si el intervalo PR es consistente en todo el largo del trazado y la onda P es una deflexión positiva en DII y aVF pero negativa en aVR. (Figura 3).</li>
    <li>Las variaciones más comunes del ritmo en pediatría no son verdaderas arritmias. Las siguientes son ejemplos de ritmo sinusal con P normal e intervalos PR consistentes.
        <ul>
            <li>Arritmia sinusal: (Figura 4) Es una variación del ritmo sinusal que ocurre con la respiración. Sube la frecuencia con la inspiración y la baja con la espiración. Es más pronunciada en niños pequeños y menos en lactantes y adolescentes.</li>
            <li>Bradicardia sinusal: (Figura 5) es un ritmo sinusal con frecuencia baja que se ve normalmente en deportista aeróbicos y ocasionalmente en hipotiroidismo y Síndrome de Qtc largo.</li>
            <li>Taquicardia sinusal: (Figura 6) Es u ritmo sinusal rápido que se puede presentar por ansiedad, fiebre, llanto y ocasionalmente hipertiroidismo.</li>
        </ul>
    </li>
    <li>No hay ritmo sinusal si la onda P es negativa en DII y aVF, pero positiva en aVR (Figura 7). Este patrón es consistente con un ritmo auricular no sinusal y la presencia de un marcapaso ubicado en aurícula derecha baja o aurícula izquierda.

        <div class="row ">
            <div class="col-4">
                <img src="../assets/img/electrocardiograma-pediatrica/001.png" alt="">
            </div>
            <div class="col-4">
                <img src="../assets/img/electrocardiograma-pediatrica/002.png" alt="">
            </div>
            <div class="col-4">
                <img src="../assets/img/electrocardiograma-pediatrica/003.png" alt="">
            </div>
            <div class="col-4">
                <img src="../assets/img/electrocardiograma-pediatrica/004.png" alt="">
            </div>
            <div class="col-4">
                <img src="../assets/img/electrocardiograma-pediatrica/005.png" alt="">
            </div>
            <div class="col-4">
                <img src="../assets/img/electrocardiograma-pediatrica/006.png" alt="">
            </div>
            <div class="col-4">
                <img src="../assets/img/electrocardiograma-pediatrica/007.png" alt="">
            </div>
        </div>


    </li>

    <li>
        Ocasionalmente un niño es portador de un marcapaso y debe ser informado su funcionamiento (Figura 8).
    </li>
    <li>Si existen QRS ectópicos estos deben ser descritos:
        <ul>
            <li>La presencia de QRS ectópicos angostos frecuentes o infrecuentes usualmente corresponden a contracciones auriculares prematuras (Figura 9).</li>
            <li>La presencia de QRS ectópicos anchos usualmente corresponden a latidos ventriculares prematuros (Figura 10).</li>
        </ul>
    </li>
    <li>
        Si existe una taquicardia patológica debe ser descrita:
        <ul>
            <li>Taquicardia con QRS angosto y onda P difícil de ver o no visible (Figura 11) se considera una taquicardia supraventricular (TSV).</li>

            <li>Taquicardia con QRS ancho (Figura 12) usualmente corresponde a una taquicardia ventricular (TV).
            </li>
        </ul>
    </li>
    <li>Cada onda P normalmente es seguida por un QRS con un intervalo constante. Si alguna o todas las ondas P no son seguidas por un QRS o el intervalo PR varía, entonces se trata de un bloqueo aurículoventricular (BAV). En este método simplificado es más
        importante reconocer la presencia de un BAV que especificar el tipo de BAV.</li>
    <li>Para evaluar los detalles de una arritmia se requerirá al cardiólogo.</li>
</ol>
<h5>Paso 2: Evaluar PR, QRS e intervalo QT</h5>
<p>Usando la derivada DII o la derivada con menos artefactos se debe examinar los intervalos PR, QRS y QT. Los valores de las mediciones se pueden expresar en segundos (seg) o milisegundos (ms).</p>
<ul>
    <li>Un cuadradito pequeño equivale a 0,04 seg o 40 ms.</li>
    <li>Un cuadrado grande equivale a 0.2 seg o 200 ms. (Figura 14)</li>
    <li>El intervalo PR usualmente se expresa en seg.</li>
    <li>El intervalo QT usualmente se expresa en ms.</li>
</ul>
<p>Nosotros incluiremos ambos valores para la medición de los intervalos.</p>
<h5>PR</h5>
<p>El intervalo PR puede ser normal, largo o corto:</p>
<ol>
    <li>En niños mayores y adolescentes, si el PR es
        < de 0,2s (<200ms o un cuadrado grande) y esta presente un QRS de dimensiones normales, se considera un PR de duración normal (Figura 15).</li>
            <li>A cualquier edad un intervalo PR>= 0.2s (>=200 ms o un cuadrado grande) se considera largo y corresponde a un bloqueo aurículoventricular (BAV) (Figura 16)</li>
            <div class="row ">
                <div class="col-4">
                    <img src="../assets/img/electrocardiograma-pediatrica/008.png" alt="">
                </div>
                <div class="col-4">
                    <img src="../assets/img/electrocardiograma-pediatrica/009.png" alt="">
                </div>
                <div class="col-4">
                    <img src="../assets/img/electrocardiograma-pediatrica/010.png" alt="">
                </div>
                <div class="col-4">
                    <img src="../assets/img/electrocardiograma-pediatrica/011.png" alt="">
                </div>
                <div class="col-4">
                    <img src="../assets/img/electrocardiograma-pediatrica/012.png" alt="">
                </div>
                <div class="col-4">
                    <img src="../assets/img/electrocardiograma-pediatrica/013.png" alt="">
                </div>
                <div class="col-4">
                    <img src="../assets/img/electrocardiograma-pediatrica/014.png" alt="">
                </div>
                <div class="col-4">
                    <img src="../assets/img/electrocardiograma-pediatrica/015.png" alt="">
                </div>
                <div class="col-4">
                    <img src="../assets/img/electrocardiograma-pediatrica/016.png" alt="">
                </div>
            </div>
            <li>En lactantes y niños pequeños un PR >= 0.16s (>= 160 ms o 4 cuadrados chicos) se considera largo y es consistente con un BAV de primer grado (Figura 17).</li>
            <li>Un PR corto antes de cada QRS puede ser normal si el QRS es angosto, pero si el QRS es ancho puede corresponder a un Síndrome de Preexcitación o Wolff-Parkinson-White (WPW). El patrón característico de WPW es una onda delta en la parte inicial
                del QRS que lo ensancha (Figura 18). La preexcitación es producida por la excitación temprana de vías accesorias (Figura 19). La preexcitación se asocia a taquicardia supraventricular (TSV) y en raras ocasiones a muerte súbita. La mayoría
                de estos pacientes puede ser manejado con estudio electrofisiológico y ablación de las vías accesorias.</li>
</ol>
<h5>QRS:</h5>
<p>Un QRS normal usualmente ocupa un cuadrado pequeño (0.04 seg o 40 ms). Un QRS ancho mide 2 o más cuadrados pequeños (>= 0.08 seg o 80 ms). Los QRS anchos se observan en extrasístoles ventriculares, bloqueos de rama, ritmos ventriculares o asociado a marcapaso
    (Figura 20).</p>
<h5>Intervalo Qt y onda T:</h5>
<p>El intervalo más importante es el Qt o Qtc; “c” significa que se corrige según la frecuencia cardiaca. Como en los intervalos anteriores se elige la derivada DII o la con menos artefactos para su cálculo. Qtc se calcula usando la fórmula de Bazzet (Figura
    21). La fórmula de Bazzet utiliza habitualmente seg más que ms para su cálculo pero los resultados pueden ser expresados en seg o ms. Un Qtc largo es >0,45 seg o 450 ms y la presencia de un Qtc largo requiere la evaluación de un cardiólogo pediátrico.
    Un Qtc anormal puede ser causa de muerte súbita. La presencia de un paciente con QTC largo requiere seguimiento cercano en cada ECG realizado.</p>
<p>Es también importante evaluar la morfología de la onda T, incluyendo inversiones de la onda T en las precordiales izquierdas o en otras derivadas. Puede ser un hallazgo consistente en disfunción miocárdica secundaria a alteraciones metabólicas (Figura22).</p>
<h5>Paso 3: Evaluación del eje de QRS y ONDA P.</h5>
<p>Use aVF para esta evaluación.</p>
<h5>Eje de P.</h5>
<ul>
    <li>La onda P e usualmente positiva en aVF (Figura 23)</li>
    <li>Si la onda P es negativa, plana o isobifásica en aVF entonces la conducción eléctrica puede ser anormal, como en la estimulación en la parte baje de la aurícula con un marcapaso. Los ritmos auriculares que no tienen P positiva en aVF deben ser evaluados
        por cardiólogo infantil. (Figura 24)</li>
</ul>
<div class="row ">
    <div class="col-4">
        <img src="../assets/img/electrocardiograma-pediatrica/017.png" alt="">
    </div>
    <div class="col-4">
        <img src="../assets/img/electrocardiograma-pediatrica/018.png" alt="">
    </div>
    <div class="col-4">
        <img src="../assets/img/electrocardiograma-pediatrica/019.png" alt="">
    </div>
    <div class="col-4">
        <img src="../assets/img/electrocardiograma-pediatrica/020.png" alt="">
    </div>
    <div class="col-4">
        <img src="../assets/img/electrocardiograma-pediatrica/021.png" alt="">
    </div>
    <div class="col-4">
        <img src="../assets/img/electrocardiograma-pediatrica/022.png" alt="">
    </div>
    <div class="col-4">
        <img src="../assets/img/electrocardiograma-pediatrica/023.png" alt="">
    </div>

</div>
<h5>Eje de QRS.</h5>
<ol>
    <li>El QRS es normalmente positivo en aVF (Figura 25).</li>
    <li>Un QRS negativo en aVF esta presente en algunas cardiopatías congénitas como Canal Aurículoventricular (Canal AV) o malformaciones univentriculares como la Atresia Tricuspídea (AT), (Figura 26).</li>
    <li>Un QRS bifásico en aVF puede ser normal, pero este patrón debe ser revisado por cardiólogo infantil (Figura 27).</li>
</ol>
<h5>Sumario de los pasos 1 al 3.</h5>
<p>Los pasos 1 al 3 son los más importantes. Estos evalúan el bienestar de la conducción eléctrica del corazón que es el propósito principal de realizar un ECG. Un ECG no provee diagnóstico estructural. Así un ECG realizado en el estudio de un soplo puede
    ser de muy poco beneficio ya que puede ser normal en la mayoría de los casos. Un ECG normal no descarta una cardiopatía estructural.</p>
<h5>Paso 4: Evaluación de hipertrofia ventricular derecha o izquierda</h5>
<h5>Estandarización.</h5>
<p>Primero siempre se debe chequear las marcas de estandarización al tomar un ECG (Figura 28), se deben observar en todas las derivadas donde 2 cuadrados grandes (10 mm) en altura es la manera de graficar habitual. Si el ECG está estandarizado a la mitad,
    un cuadrado grande representara los 10 mm. <br> Para informar un ECG debe siempre considerarse como se estandarizó su registro.
</p>
<h5>Hipertrofia de Ventrículo Derech0 (HVD).</h5>
<p>Para determinar la presencia de hipertrofia de VD utiliza sólo V1.</p>
<p>El método de 4 pasos tiene 3 reglas para el diagnóstico de HVD:</p>
<ol>
    <li>Buscar la presencia de T positivas en los niños de 7 días o más. Las ondas T están siempre invertidas en niños mayores de 7 días y esto se mantiene hasta la adolescencia. La razón para la presencia de esta “T juvenil” no está clara. Un niño de 6 años
        de edad con dolor precordial y T negativa en V1 no corresponderá un infarto agudo al miocardio (Figura 29).</li>
    <li>Un patrón RSR` en V1 en el cual R` es mayor que R (Figura 30 )</li>
    <li>Una onda R pura en V1 en un niño de 6 meses o más (Figura 31).</li>
</ol>
<div class="row ">
    <div class="col-4">
        <img src="../assets/img/electrocardiograma-pediatrica/024.png" alt="">
    </div>
    <div class="col-4">
        <img src="../assets/img/electrocardiograma-pediatrica/025.png" alt="">
    </div>
    <div class="col-4">
        <img src="../assets/img/electrocardiograma-pediatrica/026.png" alt="">
    </div>
    <div class="col-4">
        <img src="../assets/img/electrocardiograma-pediatrica/027.png" alt="">
    </div>
    <div class="col-4">
        <img src="../assets/img/electrocardiograma-pediatrica/028.png" alt="">
    </div>
    <div class="col-4">
        <img src="../assets/img/electrocardiograma-pediatrica/029.png" alt="">
    </div>
</div>

<h5>Hipertrofia Ventricular Izquierda (HVI).</h5>
<p>Para determinar la presencia o ausencia de HVI usa la derivada V6.</p>
<p>El método de 4 pasos tiene una sola regla para diagnosticar HVI:</p>
<ul>
    <li>Si la onda R en V6 intersecta la línea de base de la derivada V5 en un ECG estándar de 12 derivaciones se está en presencia de HVI (Figura 32).</li>
    <li>Muchos niños tienen tórax de paredes delgadas lo que hace que las precordiales mediales no sean confiables para el diagnóstico de HVI. Habitualmente el computador informará esto como aumento de voltajes de las precordiales mediales.</li>
</ul>
<h5>Conclusiones</h5>
<p>El ECG pediátrico es un útil instrumento de evaluación, no siempre disponible. La mayoría de los cardiólogos de adulto no tiene formación en el informe de un ECG pediátrico. El informe entregado por el computador merece muchas dudas e incertidumbres que
    pueden llevar a errores importantes. <br> Sin la necesidad de memorizar muchos datos, estos 4 pasos ayudan a dar una cercana interpretación al ECG pediátrico si los pasos son seguidos en estricto orden. Finalmente, los resultados deberán ser validados
    por un cardiólogo infantil.
</p>
<div class="row ">
    <div class="col-4">
        <img src="../assets/img/electrocardiograma-pediatrica/030.png" alt="">
    </div>
    <div class="col-4">
        <img src="../assets/img/electrocardiograma-pediatrica/031.png" alt="">
    </div>
    <div class="col-4">
        <img src="../assets/img/electrocardiograma-pediatrica/032.png" alt="">
    </div>
</div>
<h5>Referencias</h5>
<div class="row">
    <div class="col-6"><img src="../assets/img/electrocardiograma-pediatrica/033.png" alt=""></div>
</div>