<h2>Exacerbación moderada a severa de asma bronquial</h2>
<h5>Javier Cepeda S., Daniel Zenteno A.</h5>
<hr>
<h5>Definición</h5>
<p>La exacerbación de asma se define como el incremento progresivo en los síntomas de asma como: acortamiento de la respiración, tos, sibilancias o “sensación de pecho apretado” y una progresiva disminución en la función pulmonar, lo que representa un cambio
    respecto del estatus habitual del paciente y es suficiente para requerir un cambio en su terapia habitual. La exacerbación puede ocurrir tanto en un paciente previamente diagnosticado, así como ser la primera manifestación de la enfermedad.</p>
<h5>Epidemiología</h5>
<p>En acuerdo con el GINA, aproximadamente 334 millones de personas sufren de asma bronquial a nivel mundial. La OMS estimó el 2015 un total de 383.00 muertes relacionadas con asma, siendo la mayoría en países de ingresos bajos a medios. Estudios recientes
    estiman en un 0,5% la posibilidad de muerte en un paciente hospitalizado como resultado de una exacerbación de asma, la que aumenta en los casos en que se requiere intubación o conexión a VMC. </p>
<p>Diversos fenotipos de asma agudo han sido descritos, siendo las severas más frecuentes en los grupos con exacerbaciones frecuentes. La literatura actual describe 2 grupos clínico-fisiopatológicos que pueden presentarse al SU: el grupo de “inicio lento
    – presentación tardía” (más frecuente, 80-85% del total de muertes) caracterizado por síntomas de mal control por varios días previo a la exacerbación severa y el “asma fatal de inicio súbito” con instalación en 1 – 3 horas, habitualmente con historia
    de exposición a gatillantes, principalmente alérgenos, ejercicio físico o estrés psicológico.</p>
<h5>Etiología</h5>
<p>Las exacerbaciones de asma ocurren habitualmente en respuesta a un agente externo (infección viral respiratoria alta, polen o contaminación ambiental) y/o mala adherencia al tratamiento controlador; sin embargo, un subgrupo de pacientes de presentación
    más aguda puede no existir exposición a un factor conocido. Es importante considerar que las exacerbaciones severas pueden ocurrir incluso en pacientes con asma leve o bien controlado. Los gatillantes habituales son: </p>
<ul>
    <li>Infecciones respiratorias virales</li>
    <li>Exposición a alérgenos: polen de pasto, polvo, esporas fúngicas</li>
    <li>Alérgenos alimentarios</li>
    <li>Polución ambiental</li>
    <li>Cambios estacionales o el reingreso escolar</li>
    <li>Mala adherencia a ICS (corticoides inhalados)</li>
    <li>Formas epidémicas</li>
</ul>
<h5>Fisiopatología</h5>
<p>El asma agudo severo se presenta habitualmente con una alteración del intercambio gaseoso arterial. La hipoxemia arterial se atribuye principalmente a la alteración de la relación ventilación / perfusión (V/Q). La hipercapnia, por otra parte, es consecuencia
    no solo de la alteración del V/Q sino también de la fatiga muscular respiratoria, la que conduce a la hipoventilación alveolar. Estudios demuestran que la alteración V/Q predominante es aquella con incremento del flujo sanguíneo, en un contexto de
    alto gasto cardiaco, distribuido en espacios alveolares escasamente ventilados y con relación V/Q marcadamente disminuida. El patrón V/Q puede ser bimodal, variando de áreas de perfusión normal a áreas de vasoconstricción hipóxica pulmonar. </p>
<p>En relación con la mecánica del sistema respiratorio, el asma aguda severa se caracteriza por una broncoconstricción reversible y un incremento de la resistencia de la vía aérea, seguido de tasas de bajo flujo, cierre precoz de la vía aérea pequeña, disminución
    de la retracción elástica, hiperinsuflación pulmonar e incremento del trabajo respiratorio. Se describe una reducción sustancial del VEF1 y del PEF, mientras que el volumen residual aumenta hasta un 400% de lo normal y la CRF puede alcanzar valores
    hasta el doble de lo normal. Por su parte, la CPT también se encuentra elevada. Estos cambios en los volúmenes pulmonares permiten a la vía aérea contraída permanecer abierta.</p>
<p>Durante la espiración pasiva, las fuerzas conducentes son las fuerzas elásticas. Mientras mayor sea la disminución de las fuerzas elásticas, mayor será el tiempo necesario para espirar completamente el volumen tidal inspirado (incremento de la constante
    de tiempo espiratorio). La exhalación incompleta del volumen tidal produce que la inspiración inicie a un volumen en el cual el sistema respiratorio aún exhibe retracción elástica positiva. La presencia de flujo al final de la espiración es debido
    a la presencia de presión alveolar positiva al final de la espiración. Este proceso es denominado “hiperinsufación dinámica” y la presión positiva en el alveolo al final de la espiración asociado a un mayor volumen de relajación se denomina PEEP intrínseco
    (figura 1). Pese a que la Hiperinsuflación dinámica inicialmente ayuda al paciente, mediante la reducción del trabajo respiratorio, el tórax y los pulmones incrementan su volumen, se acorta la relación longitud-tensión de los músculos respiratorios
    y la fuerza de la contracción disminuye. Si progresa, la espiración se vuelve activa, el trabajo respiratorio aumenta y la fatiga puede conducir a la muerte. </p>
<img src="../assets/img/asma-bronquial/001.png" alt="Hiperinsuflación dinámica">
<h5 class="text-center">Figura 1. Hiperinsuflación dinámica</h5>
<p>El compromiso hemodinámico es otra característica importante del asma severo conducente a hiperinsuflación dinámica significativa. El desarrollo de presión positiva intratorácica conduce a la disminución del gasto cardiaco derecho mediante la disminución
    de la precarga (retorno venoso y volumen del corazón derecho al final de la diástole) e incremento la postcarga derecha (resistencia vascular pulmonar). La disminución del GC derecho en paralelo con la disfunción diastólica del corazón izquierdo (causada
    por un septum IV desplazado a izquierda) y su llene incompleto, conduce a una reducción significativa de la PAS en inspiración y la presencia de pulso paradojal (figura 2). </p>
<img src="../assets/img/asma-bronquial/002.png" alt="Cambios fisiopatológicos secundarios a la hiperinsuflación dinámica">
<h5 class="text-center">Figura 2. Cambios fisiopatológicos secundarios a la hiperinsuflación dinámica</h5>
<p>Por esto, debido a un mal control de la hiperinsuflación dinámica, un paciente con asma puede presentarse somnoliento, confuso o agitado, con movimiento paradojal respiratorio, ausencia o presencia de sibilancias a la auscultación, bradicardia o pulso
    paradojal.
</p>
<h5>Diagnostico diferencial</h5>
<h5>Manejo</h5>
<p>La exacerbación de asma severa es una condición médica que pone en riesgo la vida del paciente, la que debe manejarse de forma segura inicialmente en el servicio de urgencia </p>
<h5>Evaluación</h5>
<p><b>Anamnesis:</b> Debe considerarse una anamnesis corta en conjunto con el inicio de la terapia. Se debe consultar sobre:</p>
<ul>
    <li>Tiempo de inicio de los síntomas</li>
    <li>Severidad de los síntomas, incluyendo limitación del ejercicio y alteración del sueño</li>
    <li>Cualquier manifestación de anafilaxia</li>
    <li>Factores de riesgo de asma relacionado con asma mortal (Tabla 1)</li>
    <li>Medicación: dosis, adherencia, cambio reciente en indicaciones y respuesta a terapia actual</li>
</ul>
<h5>Examen físico: </h5>
<ul>
    <li>Signos de severidad, incluyendo signos vitales (nivel de conciencia, temperatura, FC, FR, PA, capacidad para completar oraciones, uso de musculatura accesoria)</li>
    <li>Signos de complicación: Anafilaxia, neumonía, atelectasia, neumotórax o neumomediastino</li>
    <li>Signos que oriente a una patología diferente de asma: ICC, obstrucción laríngea, inhalación de CE o TEP.</li>
    <li>Diferentes scores de severidad han sido desarrollados, el GINA sugiere la utilización del Score PRAM o PASS para pacientes entre los 1 y 18 años (Tabla 2 y 3).</li>
</ul>
<h5>Otras evaluaciones</h5>
<p><b>Saturación de oxígeno:</b> Monitoreo estricto, mediante oximetría de pulso. Especialmente útil en niños incapaces de realizar PEF. En niños una saturometría normal es aquella > a 95% y saturaciones menores a 92% son predictoras de hospitalización.
    Si saturación
    < a 90% indica necesidad de terapia agresiva. Monitorización previa a la indicación de O2, 5 minutos posterior a su retiro.</p>
        <p><b>Gases en sangre arterial:</b> No son necesarios de rutina, considerar en aquellos que no responden a manejo inicial o presentan deterioro clínico. Durante una exacerbación de asma, la pCO2 es habitualmente baja (
            < 40). La fatiga y somnolencia son signos de incremento de la pCO2 y que puede requerirse manejo de la vía aérea. Una PaO2 < 60 y una PaCO2> 45 mmHg indican falla respiratoria.</p>
        <p><b>Radiografía de tórax:</b> No se requiere de forma rutinaria. Considerar en presencia de signos clínicos que hagan sospechar neumotórax, atelectasia, enfermedad del parénquima (neumonía) o inhalación de cuerpo extraño. Características clínicas
            asociadas a hallazgos significativos a la radiografía de tórax en niños son la fiebre, ausencia de historia familiar de asma o hallazgos localizados al examen físico.</p>
        <h5>Manejo farmacológico</h5>
        <p><b>Oxigenoterapia:</b> Saturometría objetivo 93-95% para ≥ a 6 años y 94-98% para menores de 6. Administrar mediante cánula nasal o máscara. En asma severo, controlar la oxigenoterapia de bajo flujo mediante oximetría de pulso para rango objetivo,
            así como en etapa de weaning.</p>
        <p><b>B2 de acción corta:</b> Su forma más costo-efectiva y eficiente de administración es mediante IDM con espaciador, no obstante, la evidencia en asma severa o cercana a fatal, ante altos requerimientos de oxígeno, es menos robusta. Revisiones
            sistemáticas recientes muestran resultados no concluyentes en el uso de NBZ continua vs intermitente. Es importante considerar que el uso de NBZ puede diseminar aerosoles y potencialmente contribuir a la diseminación de la infección viral
            respiratoria (tabla 4). No se recomienda su uso EV.</p>
        <ul>
            <li><b>Mayor o igual a 6 años:</b> En exacerbaciones moderadas, aplicar salbutamol 4-10 puffs cada 20 minutos por 1 hora. Continuar posteriormente con 4-10 puffs cada 3-4 horas hasta un máximo de 10 puffs cada 1-2 horas. </li>
            <li><b>Menores de 6 años:</b> Preferir uso de inhalador en dosis medida (IMD), con aerocáamara. Si la saturometría es baja y se requieren flujos de O2 > a 2 a 3 lt/min, administrar mediante NBZ (2,5 mg de salbutamol). En aquellos con exacerbación
                leve a moderada iniciar con 2 puff, mientras que en aquellos severos en quienes se decide uso de IDM, se debe iniciar con 6 puffs de salbutamol cada 20 minutos por 1 hora junto con bromuro de ipatropio 2 puff (80 mcg por puff) cada 20
                minutos por 3 veces (1 hora). Si los síntomas persisten, agregar 2 – 3 puffs por hora con relación a la terapia previa. Hospitalizar si se requieren más de 10 puff en 3 – 4 horas. <b>Adrenalina:</b> Uso en casos de anafilaxia o angioedema.
            </li>
        </ul>
        <p><b>Corticoides sistémicos:</b> Aceleran la resolución de la enfermedad, mejoran la respuesta de B2 de acción corta y previenen la recaída de los síntomas. Considerar en todos los tipos de exacerbaciones, excepto en casos leves. Administrar idealmente
            dentro de la primera hora desde la aparición de síntomas. Su uso es especialmente importante si existe falla del manejo inicial con B2, exacerbación durante la administración de corticoides orales o historia previa de exacerbaciones que hayan
            requerido corticoides orales. La vía de administración oral es igualmente efectiva a la endovenosa, siendo la primera de elección. Considerar EV si paciente presenta disnea severa, vómitos o requiere VNI o intubación. </p>
        <ul>
            <li><b>Mayor o igual a 6 años:</b> En niños, prednisona 1-2 mg/kg hasta un máximo de 40 mg/día por un tiempo de 3 – 5 días o dexametasona oral 0,6 mg/kg por 1 o 2 días (si manifestaciones persisten post dexametasona considerar traslape a prednisona).</li>
            <li><b>Menores de 6 años:</b> Prednisona máximo 20 mg/día en
                < 2 años y 30 mg/día entre 2-5 años. Alternativa: Metilprednisolona 0,5-1 mg/kg cada 6 horas. </li>
        </ul>
        <p><b>Corticoides inhalados:</b> Si no existe disponibilidad de corticoides sistémicos, altas dosis de corticoides inhalados administrados dentro de la primera hora, son capaces reducir la necesidad de hospitalización; sin embargo, no se utilizan
            en forma rutinaria en la práctica clínica diaria.</p>
        <ul>
            <li><b>Mayor o igual a 6 años:</b> Dosis altas de ICS en la primera hora de tratamiento han demostrado reducir las tasas de hospitalización en aquellos que no están recibiendo corticoides orales (CO). Sin evidencia en uso combinado con CO.</li>
            <li><b>Menores de 6 años:</b> Considerar ICS al doble de la dosis baja en aquellos sin tratamiento controlador previo por un periodo 1 mes y luego ajustar o continuar.</li>
        </ul>
        <p><b>Ventilación no – invasiva (VNI):</b> Su evidencia en asma es aún débil. Estudios pequeños han demostrado disminución de la necesidad de intubación o sin diferencia respecto a placebo. No se han reportado muertes con su uso. De ser necesario,
            se requerirá monitoreo estricto. Contraindicado en pacientes agitados. No se debe considerar la sedación para facilitar su utilización.</p>
        <h5>Otros:</h5>
        <p><b>Bromuro de Ipatropio:</b> Uso en casos de exacerbación moderada a severa en combinación con B2 en servicios de urgencia. Sin beneficio en uso intrahospitalario. </p>
        <p><b>Aminofilinas y Teofilina:</b> No recomendado</p>
        <p><b>Sulfato de Magnesio:</b> Uso no rutinario. Disminuye los ingresos hospitalarios en aquellos con falla al manejo inicial, hipoxemia persistente y niños con VEF1
            < 60% del predicho tras 1 hora de manejo inicial. </p>
                <ul>
                    <li><b>Mayor o igual a 6 años:</b> Monodosis 40-50 mg/kg (máximo 2 gr) en 20 minutos EV</li>
                    <li><b>Menores de 6 años:</b> Considerar su uso NBZ (150 mg por 3 veces cada 20 minutos) o monodosis EV (40-50 mg/kg en monodosis e infusión lenta en 20-60 minutos) en niños ≥ 2 años con asma severo, en la primera hora de tratamiento,
                        en conjunto con B2 y bromuro de ipatropio. (seguridad y beneficio no establecido en niños de 5 años o menos)</li>
                </ul>
                <p><b>Inhibidor de leucotrienos:</b> Escasa evidencia apoya el uso en asma agudo. Estudios pequeños han demostrado mejoría en función pulmonar, pero su rol clínico requiere de más estudios.</p>
                <p><b>Antibióticos:</b> Uso solo en casos de sospecha de infección pulmonar: fiebre alta, esputo purulento o imágenes radiológicas compatibles con neumonía. </p>
                <h5>Evaluación de la respuesta clínica</h5>
                <p>La condición clínica y saturación de oxígeno deben ser reevaluadas frecuentemente y la indicación de las diferentes opciones terapéuticas a continuación dependerá de la respuesta del paciente. Aquellos pacientes que se deterioran pese
                    a un tratamiento broncodilatador intensivo y corticoides sistémicos deben ser presentados a la unidad de paciente crítico pediátrico (figura 3 y 4).</p>
                <p>En niños pequeños menores de 6 meses deben mantenerse en observación por al menos 1 hora tras el inicio del tratamiento, en cuyo momento se decidirá:</p>
                <ul>
                    <li>Si los síntomas persisten: Nuevamente 2 – 6 puff de salbutamol cada 20 minutos por 1 hora. Si no hay respuesta a la hora o empeora previo a este plazo, el paciente debe ser hospitalizado e iniciar un curso de corticoides orales</li>
                    <li>Si los síntomas mejoran a la hora pero recurren a las 3 – 4 horas: Aumentar frecuencia de B2 a cada 2-3 puff / hora junto con corticoides orales. Puede observarse en domicilio y acceder precozmente a SU si empeora. Se sugiere que un
                        paciente que no responde tras 10 puff totales de B2 a las 3-4 horas debe ser hospitalizado.</li>
                </ul>

                <h5>Criterios de Hospitalización</h5>
                <ul>
                    <li>Sin respuesta a manejo abreviado con B2 (necesidad de 10 o más puff en SU para el control de síntomas)</li>
                    <li>Saturometría menor a 94% tras 1 hora de manejo</li>
                    <li>Necesidad de maniobras de RCP </li>
                    <li>Historia de exacerbaciones previas que requirieron intubación o ingreso hospitalario</li>
                    <li>Visita previa al SU con indicación de corticoides orales en curso</li>
                    <li>En los casos en que sea posible, ante PEF pre-tratamiento
                        < 25% del predicho o mejor personal o < 40% post-tratamiento.</li>
                </ul>
                <h5>Seguimiento posterior al alta hospitalaria y consideraciones de manejo</h5>

                <ul>
                    <li>Previo al alta, se debe realizar gestiones para lograr control médico en un rango de 2 días a 1 semana, así como implementar estrategias para mejorar el manejo del asma, incluyendo fármacos, técnicas de inhalación y un plan de acción
                        escrito. </li>
                    <li>Considerar el alta en condición clínica estable: ej. Alimentación por vía oral sin problemas
                    </li>
                    <li>Se debe iniciar corticoides inhalados si no han sido previamente prescritos. En aquellos con ICS ya iniciado, puede considerarse un “step-up” por 2 – 4 semanas, recordando la importancia de la adherencia diaria al tratamiento.
                    </li>
                    <li>Prescribir corticoides orales hasta completar un periodo de 3 – 5 días (prednisona). Control médico en APS previo a la suspensión de los corticoides orales.
                    </li>
                    <li>Indicar B2 de acción corta a necesidad por sobre a intervalos.</li>
                    <li>Identificar factores de riesgo que contribuyan a la exacerbación (exposición, mala adherencia, ausencia de plan escrito) y establecer estrategias para la reducción de los factores de riesgo modificables.</li>
                    <li>Establecer un plan de acción para el automanejo en caso de incremento de los síntomas diarios.</li>
                    <li>Control médico en atención primaria 2 días tras el alta.</li>
                </ul>
                <h5>Derivación</h5>
                <ul>
                    <li>Todo paciente con exacerbación severa de asma que requiere ingreso hospitalario debe ser interconsultado a Broncopulmonar Infantil durante hospitalización o al menos en forma ambulatoria.</li>
                </ul>
                <h5>Bibliografía</h5>
                <ul>
                    <li>Global Strategy for Asthma management and prevention, Report - 2020.</li>
                    <li>Kostakou E., Kaniaris E., Fillou E., Vasileiadis I. Acute Severe Asthma in Adolescent and Adult Patients: Current Perspectives on Assessment and Management. J Clin Med. 2019 Aug 22;8(9). pii: E1283</li>
                    <li>Guin S, Robidas I, Gravel J, Guimont C, Chalut D, y cols. Prospective-evaluation of two scores for acute asthma in children 18 month to 7 years of age. Acad Emerg Med 201;17:598-603.</li>
                    <li>Bertrand P. Enfermedades respiratorias del niño – 2° Edición. 2016</li>
                </ul>
                <div class="table-responsive">
                    <table class="table table-hover table-striped bg-light rounded">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    Tabla 1. Factores de riesgo muerte relacionado con asma
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">Historia de asma cercana a fatal que requirió intubación o VM</td>
                            </tr>
                            <tr>
                                <td class="text-center">Hospitalización o consulta al SU en el último año</td>
                            </tr>
                            <tr>
                                <td class="text-center">Uso actual o reciente de corticoides orales</td>
                            </tr>
                            <tr>
                                <td class="text-center">No uso de corticoides inhalados</td>
                            </tr>
                            <tr>
                                <td class="text-center">Sobreuso de B2 (> 1 cánister por mes)</td>
                            </tr>
                            <tr>
                                <td class="text-center">Historia de enfermedad psiquiátrica o problemas psicosociales</td>
                            </tr>
                            <tr>
                                <td class="text-center">Mala adherencia a tratamiento</td>
                            </tr>
                            <tr>
                                <td class="text-center">Alergia alimentaria</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--  -->
                <hr>
                <div class="table-responsive">
                    <table class="table table-hover table-striped bg-light rounded">
                        <thead>
                            <tr>
                                <th colspan="5" class="text-center">
                                    Tabla 2. Score PRAM / Score PASS
                                </th>
                            </tr>
                            <tr>
                                <th colspan="5">
                                    PRAM Score <sup>5</sup>
                                </th>
                            </tr>
                            <tr>
                                <th scope="col">
                                    Signs
                                </th>
                                <th scope="col">
                                    0
                                </th>
                                <th scope="col">
                                    1
                                </th>
                                <th scope="col">
                                    2
                                </th>
                                <th scope="col">
                                    3
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="col">
                                    Suprasternal retractions
                                </td>
                                <td scope="col">
                                    Absent
                                </td>
                                <td scope="col">

                                </td>
                                <td scope="col">
                                    Present
                                </td>
                                <td scope="col">

                                </td>
                            </tr>
                            <tr>
                                <td scope="col">
                                    Scalene muscle contraction
                                </td>
                                <td scope="col">
                                    Absent
                                </td>
                                <td scope="col">

                                </td>
                                <td scope="col">
                                    Present
                                </td>
                                <td scope="col">

                                </td>
                            </tr>
                            <tr>
                                <td scope="col">
                                    Air entry
                                </td>
                                <td scope="col">
                                    Normal
                                </td>
                                <td scope="col">
                                    Decreased at the base
                                </td>
                                <td scope="col">
                                    Diffusely decreased
                                </td>
                                <td scope="col">
                                    Adsent/minimal
                                </td>
                            </tr>
                            <tr>
                                <td scope="col">
                                    "Wheezing"
                                </td>
                                <td scope="col">
                                    Absent
                                </td>
                                <td scope="col">
                                    Expiratory only
                                </td>
                                <td scope="col">
                                    Inspiratory and expiratory
                                </td>
                                <td scope="col">
                                    Audible without a stethoscope/air entry absent/minimal
                                </td>
                            </tr>
                            <tr>
                                <td scope="col">
                                    Oxygen saturation
                                </td>
                                <td scope="col">
                                    ≥95%
                                </td>
                                <td scope="col">
                                    92% - 94%
                                </td>
                                <td scope="col">
                                    <92% </td>
                                        <td scope="col">
                                        </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <td colspan="5">
                                The PRAM score is the summation of all components. <br> PRAM = Preschool Respiratory Assessment Measure
                            </td>
                        </tfoot>
                    </table>
                </div>

                <!--  -->
                <div class="table-responsive">
                    <table class="table table-hover table-striped bg-light rounded">
                        <thead>
                            <tr>
                                <th colspan="5">
                                    Table2
                                    <br> PASS Score <sup>7</sup>
                                </th>
                            </tr>
                            <tr>
                                <th scope="col">
                                    Signs
                                </th>
                                <th scope="col">
                                    0
                                </th>
                                <th scope="col">
                                    1
                                </th>
                                <th scope="col">
                                    2
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="col">
                                    Wheezing (= expiratory sounds heard auscultation)
                                </td>
                                <td scope="col">
                                    None / mild
                                </td>
                                <td scope="col">
                                    Moderate
                                </td>
                                <td scope="col">
                                    Severe or absent due to poor air entry
                                </td>
                            </tr>
                            <tr>
                                <td scope="col">
                                    Respiratory work (= utilization of accessory muscles or retractions)
                                </td>
                                <td scope="col">
                                    None / mild
                                </td>
                                <td scope="col">
                                    Moderate
                                </td>
                                <td scope="col">
                                    Severe
                                </td>

                            </tr>
                            <tr>
                                <td scope="col">
                                    Prolongaton of expiration (= ratio of the length of expiration over inspiration)
                                </td>
                                <td scope="col">
                                    Normal/mild prolongation
                                </td>
                                <td scope="col">
                                    Moderate prolongation
                                </td>
                                <td scope="col">
                                    Severe prolongation
                                </td>
                            </tr>

                        </tbody>
                        <tfoot>
                            <td colspan="5">
                                The PASS score is the summation of all components. <br> PASS = Pediatric Asthma Severity Score.
                            </td>
                        </tfoot>
                    </table>
                </div>
                <hr>
                <!--  -->
                <div class="table-responsive">
                    <table class="table table-hover table-striped bg-light rounded">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    Tabla 3. Ventajas de los IDM vs NBZ
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">Inicio de acción precoz</td>
                            </tr>
                            <tr>
                                <td class="text-center">Seguro: bajos niveles plasmáticos de dosis administradas y
                                    < RAM</td>
                            </tr>
                            <tr>
                                <td class="text-center">Dosis conocida / menor dosis para lograr mismo efecto</td>
                            </tr>
                            <tr>
                                <td class="text-center">Necesidad de flujos inspiratorios bajos</td>
                            </tr>
                            <tr>
                                <td class="text-center">Escaso costo</td>
                            </tr>
                            <tr>
                                <td class="text-center">Mejoría de score clínicos y reducción de hospitalización</td>
                            </tr>
                            <tr>
                                <td class="text-center">Mayor depósito pulmonar con menor depósito oro-faríngeo</td>
                            </tr>
                            <tr>
                                <td class="text-center">Mayor efecto broncodilatador medido por SaO2 y función pulmonar</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <h5>Figura 3 y 4. Algoritmo de manejo de la exacerbación asmática</h5>
                <img src="../assets/img/asma-bronquial/003.jpg">
                <br>
                <p></p>
                <br>
                <img src="../assets/img/asma-bronquial/004.jpg">