<h2>Cardiopatías congénitas</h2>
<h5>Equipo Cardiología infantil</h5>
<hr>
<h5>Comunicación interventricular</h5>
<h5>Definición</h5>
<p>Defecto anatómico del septum interventricular que permite la comunicación entre el ventrículo izquierdo y el derecho. Puede localizarse en la porción perimembranosa o en la parte muscular del tabique.</p>
<h5>Prevalencia </h5>
<p>CIV aislada: 53 / 10.000 RNV (49% de todas las cardiopatías congénitas; 2/3 son defectos pequeños o musculares). Hay lesiones cardíacas asociadas en el 22%.</p>
<h5>Hemodinamia</h5>
<p>Cortocircuito de izquierda a derecha el cual depende de:</p>
<ul>
    <li>Tamaño de CIV</li>
    <li>Relación entre la resistencia vascular pulmonar y sistémica</li>
</ul>
<p>Una CIV moderada a grande inicialmente causa sobrecarga de volumen auricular izquierdo y ventricular izquierdo con síntomas de insuficiencia cardíaca congestiva y/o aumento de la presión y resistencia pulmonar.<br> El aumento persistente a largo plazo
    de la presión pulmonar y la remodelación vascular pulmonar conducen al desarrollo del fenómeno de Eisenmenger con un posterior cortocircuito de derecha a izquierda a través de la CIV.
</p>
<h5>Presentación clínica</h5>
<p>La presentación clínica y hemodinamia están vinculadas al manejo: </p>
<div class="table-responsive">
    <table class="table table-hover table-striped bg-light rounded">
        <thead>
            <tr>
                <th>
                    Tamaño CIV
                </th>
                <th>
                    Presión media AP
                </th>
                <th>
                    Resistencia AP
                </th>
                <th>
                    Examen físico y síntomas
                </th>
                <th>
                    Manejo
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Grande, flujo irrestricto</td>
                <td>Aumentada (> 25 mmHg)</td>
                <td>
                    <ul>
                        <li>Normal, levemente aumentada (Rp:Rs
                            < 0,2)</li>
                                <li>Aumentada (Rp:Rs = 0,2 - 0,3)</li>
                                <li>Muy aumentada (Rp:Rs > 0,3)</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Soplo sistólico intenso, 2°ruido prominente, signos de ICC</li>
                        <li>Pueden presentar soplo sistólico, 2° ruido menos prominente, posiblemente cianosis leve por inversión del cortocircuito</li>
                    </ul>
                </td>
                <td>Tratamiento está dado por hallazgos individuales. Considerar diuréticos, IECAs y cierre del defecto si hay sobrecarga progresiva de cavidades izquierdas. Puede requerir pruebas de reactividad vascular pulmonar e incluso manejo de hipertensión
                    pulmonar
                </td>
            </tr>
            <tr>
                <td>Mediana</td>
                <td>Normal, levemente aumentada</td>
                <td>Normal, levemente aumentada</td>
                <td>Soplo sistólico claro, segundo ruido normal</td>
                <td>> 12 meses: cierre del defecto si existe sobrecarga de volumen ventricular izquierdo sin tendencia a cierre espontáneo </td>
            </tr>
            <tr>
                <td>Pequeña, flujo restrictivo</td>
                <td>Normal (
                    < 20 mmHg)</td>
                        <td>Normal</td>
                        <td>Soplo sistólico intenso, frémito </td>
                        <td>Seguimiento ecocardiográfico; reparación quirúrgica si la válvula aórtica está involucrada en el defecto y se desarrolla regurgitación aórtica</td>
            </tr>
        </tbody>
    </table>
</div>
<h5>Diagnóstico </h5>
<h5>Ecocardiografía</h5>
<p>Delimitación del tamaño de la CIV, localización y relación con la porción membranosa y muscular del tabique, con las válvulas AV y con la válvula aórtica y pulmonar. Dimensiones de la aurícula izquierda y del ventrículo izquierdo, gradiente de presión
    sistólica y diastólica, evaluación de la presión de la arteria pulmonar.</p>
<h5>ECG</h5>
<p>No es concluyente en neonatos; signos de crecimiento del VI en sobrecarga de volumen, crecimiento del VD en hipertensión pulmonar.</p>
<h5>Cateterismo</h5>
<p>No se requiere para fines de diagnóstico; indicado en algunos casos de hipertensión pulmonar en pacientes > 6 meses de vida. Prueba de reactividad vascular pulmonar si la resistencia vascular pulmonar se eleva por encima de RP: RS > 0.3: 1.</p>
<h5>Tratamiento</h5>
<ul>
    <li>CIV pequeñas: No se necesita tratamiento debido al excelente pronóstico a largo plazo. Indicación de reparación si se desarrolla regurgitación aórtica u otros síntomas (poco frecuentes).</li>
    <li>CIV medianas: Cierre debe realizarse más allá de la etapa de lactancia, en presencia de sobrecarga de volumen de cavidades izquierdas.</li>
    <li>CIV grandes con hipertensión pulmonar: Cierre está indicado en los primeros 6 meses de vida. Pacientes mayores deben someterse a una evaluación de la resistencia vascular pulmonar antes del cierre.</li>
</ul>
<h5>Cirugía</h5>
<p>Reparación mediante parche es la terapia estándar en la mayoría de los pacientes. Las complicaciones infrecuentes son: bloqueo AV, cortocircuito residual, lesión tricuspídea o valvular aórtica. Cerclaje o banding transitorio de la arteria pulmonar son
    una opción paliativa en pacientes con CIVs múltiple, o CIV de difícil acceso.</p>
<h5>Cateterismo</h5>
<p>Cierre con dispositivo de la CIV es factible en casos seleccionados.<br> Los riesgos de complicaciones son comparables a la cirugía. Un riesgo posiblemente elevado de bloqueos AV en comparación con la cirugía está en debate dependiendo del tipo de dispositivo
    utilizado y factores anatómicos como la proximidad a la válvula aórtica y al nodo AV.
</p>
<h5>Técnica híbrida</h5>
<p>Los defectos musculares y perimembranosos grandes en ciertos casos seleccionados son factibles de cierre con una técnica híbrida vía punción ventricular derecha.</p>
<h5>Manejo médico</h5>
<p>Fármacos anticongestivos para tratar la insuficiencia cardíaca congestiva, asociados a IECAs sólo se recomiendan como intervenciones a corto plazo hasta el cierre del defecto. En pacientes con síndrome de Eisenmenger, fármacos antihipertensión pulmonar
    han demostrado mejoría en la capacidad funcional y calidad de vida.</p>
<h5>Pronóstico</h5>
<p>La historia natural no se ve afectada en pacientes con CIVs pequeñas, no hemodinámicamente significativas. El pronóstico es excelente después del cierre oportuno del defecto.</p>
<ul>
    <li>La esperanza de vida y la capacidad física probablemente se vean afectadas en pacientes con hipertensión arterial pulmonar ya instalada, aún después del cierre del defecto.</li>
    <li>Pacientes con síndrome de Eisenmenger no son candidatos para el cierre del defecto y sufren un deterioro de la capacidad funcional y una esperanza de vida reducidas.</li>

</ul>
<h5>Recomendaciones para el seguimiento</h5>
<ul>
    <li>Después del cierre de una CIV, se debe realizar un seguimiento regular hasta la edad adulta.</li>
    <li>En pacientes con lesiones residuales y complicaciones después del cierre quirúrgico se recomienda un seguimiento de por vida.</li>

</ul>
<h5>Comunicación interauricular tipo ostium secundum</h5>
<h5>Definición</h5>
<p>Defecto anatómico de la porción central del tabique interauricular (septum secundum) que permite la comunicación a nivel de ambas aurículas.</p>
<h5>Prevalencia</h5>
<p>17 / 10.000 RNV (15-20% de todos los defectos cardíacos congénitos).</p>
<h5>Lesiones asociadas </h5>
<p>Debido a la prevalencia relativamente alta, puede ocurrir un defecto del tabique auricular en asociación con prácticamente todos los defectos cardíacos congénitos.</p>
<h5>Síndromes asociados</h5>
<p>Holt-Oram, Noonan, síndrome de Alagille.</p>
<h5>Diagnóstico diferencial</h5>
<p>Foramen oval permeable, aurícula común, canal auriculoventricular parcial (defecto del septum primum), drenaje venoso pulmonar anómalo.</p>
<h5>Hemodinamia</h5>
<ul>
    <li>Comunicación de izquierda a derecha a nivel auricular debido a una mayor distensibilidad diastólica del ventrículo derecho en comparación con el ventrículo izquierdo.</li>
    <li>Sobrecarga de volumen y dilatación de las cavidades derechas.</li>
    <li>En la edad adulta (si no se trata): elevación de la resistencia vascular y presión pulmonar, reducción de la función ventricular derecha y disminución de la reserva funcional ventricular izquierda.</li>

</ul>
<h5>Presentación clínica</h5>
<ul>
    <li>Soplo cardíaco sistólico paraesternal izquierdo alto (estenosis pulmonar mediada por flujo) y segundo ruido cardíaco timbrado.</li>
    <li>Con cortocircuito elevado: soplo suave diastólico medio esternal (estenosis tricuspídea mediada por flujo).</li>
    <li>Ocasionalmente antecedentes de infecciones respiratorias frecuentes.</li>
    <li>Disnea en ejercicio</li>
    <li>Compromiso ponderal</li>

</ul>
<h5>Diagnóstico</h5>
<h5>ECG</h5>
<p>Inespecífico, a menudo con signos de sobrecarga del ventrículo derecho, bloqueo incompleto de la rama derecha, crecimiento de aurícula derecha.</p>
<h5>Ecocardiografía</h5>
<p>Estudio debe incluir el tamaño y la ubicación de la comunicación interauricular, descarte de drenaje venoso pulmonar anómalo, tamaño del ventrículo derecho, función y estimación de la presión ventricular derecha. <br> Doppler determina la dirección y
    cuantificación del cortocircuito. La ecocardiografía transesofágica puede ser necesaria si las ventanas de ecocardiografía transtorácica son inadecuadas.
</p>
<h5>Resonancia magnética</h5>
<p>No es necesario si el ecocardiograma permite un estudio completo. La buena visualización de la anatomía (especialmente el drenaje venoso pulmonar) en pacientes mayores y obesos permite la cuantificación del cortocircuito.</p>
<h5>Cateterismo</h5>
<p>Uso en etapa de diagnóstico sólo si se sospecha hipertensión arterial pulmonar o si se necesita una prueba de reactividad pulmonar. De lo contrario solo si se planea la intervención/ tratamiento.</p>
<h5>Tratamiento</h5>
<ul>
    <li>El tratamiento está indicado si hay sobrecarga de volumen ventricular derecho atribuible al defecto. Su objetivo es el cierre completo del defecto en la edad preescolar.</li>
    <li>Tratamiento está contraindicado si hay hipertensión arterial pulmonar severa y no hay cortocircuito de izquierda a derecha.</li>

</ul>
<h5>Manejo médico</h5>
<p>Papel limitado de la terapia médica en pacientes seleccionados (por ejemplo, anticongestivos en prematuros con enfermedad pulmonar concomitante).</p>
<h5>Cateterismo</h5>
<p>El cierre intervencional con dispositivo es la terapia de elección en los defectos tipo ostium secundum, con alta eficacia y bajas tasas de complicaciones. <br> El cierre con dispositivo no es factible en: </p>
<ul>
    <li> Defectos tipo ostium primum, tipo seno venoso, tipo ostium secundum con bordes inadecuados para un anclaje seguro, distancia inadecuada a estructuras adyacentes, pacientes con defectos múltiples. Riesgos: Mortalidad
        < 0.1%, morbilidad 5-10%. Lesión vascular en el sitio de acceso, embolización del dispositivo, perforación, alteraciones del ritmo.</li>
</ul>
<h5>Cirugía</h5>
<p>Es el tratamiento alternativo en pacientes donde el manejo intervencional no es posible. Se realiza mediante esternotomía y requiere circulación extracorpórea. El cierre se lleva a cabo a través de parche o cierre directo (dependiendo del tamaño y ubicación
    del defecto). <br> Riesgos: Mortalidad
    < 0.1%, morbilidad 5-10%; (derrame pleural, infección, sangrado, neumotórax). </p>
        <h5>Pronóstico</h5>
        <p>Excelente, con una esperanza de vida normal si se trata de manera oportuna. <br> Los pacientes no tratados con defectos hemodinámicamente significativos tienen una esperanza de vida reducida. A partir de la tercera década de vida, estos pacientes
            tienen una mayor prevalencia de hipertensión arterial pulmonar y/o alteraciones del ritmo (fibrilación o flutter auricular, disfunción del nodo sinusal). Otros riesgos son el desarrollo de intolerancia al ejercicio, disfunción del ventrículo
            derecho, insuficiencia tricuspídea y embolia paradójica.
        </p>

        <h5>Recomendaciones para el seguimiento</h5>
        <ul>
            <li>Seguimiento regular después del cierre del defecto, seguimiento de por vida, especialmente después del cierre tardío, (Ecocardiograma, ECG, Holter).</li>
            <li>Deporte: generalmente no se requieren restricciones de ejercicio.</li>
            <li>Profilaxis de endocarditis durante 6 meses después del cierre quirúrgico o con dispositivo, aspirina durante los primeros 6 meses después del cierre con dispositivo.</li>

        </ul>

        <h5>Defecto septal atrioventricular (canal auriculoventricular)</h5>
        <h5>Definición</h5>
        <p>Desde un punto de vista anatómico, los defectos septales atrioventriculares comparten las siguientes características: </p>
        <ul>
            <li>Defecto del tabique a nivel auricular y / o ventricular</li>
            <li>Anomalías de las válvulas auriculoventriculares:
                <ul>
                    <li>Desplazamiento inferior e inserción septal al mismo nivel</li>
                    <li>Hendidura de la válvula atrioventricular izquierda</li>
                    <li>Alargamiento y estrechamiento del tracto de salida del ventrículo izquierdo</li>
                </ul>
            </li>
        </ul>
        <h5>Características de los diferentes tipos de CAV</h5>
        <ul>
            <li>CAV parcial
                <ul>
                    <li>Anillos de las válvulas auriculoventriculares derecha e izquierda separados</li>
                    <li>Defecto amplio a nivel del septum primum</li>
                    <li>Hendidura de la valva anterior de la válvula atrioventricular izquierda con insuficiencia de grado variable</li>

                </ul>
            </li>
            <li> CAV completo
                <ul>
                    <li>Defecto septal grande con un componente auricular (defecto del septum primum) y un defecto ventricular (tracto de entrada)</li>
                    <li>Anillo común de la válvula auriculoventricular y válvula auriculoventricular con cinco valvas: una valva de puente posterior y otra anterior; dos valvas laterales, una valva anterior derecha (Dependiendo de las características se clasifica
                        en Rastelli tipo A, B y C)</li>
                    <li>Insuficiencia de los componentes derecho e izquierdo de la válvula AV</li>

                </ul>
            </li>
            <li>CAV intermedio
                <ul>
                    <li>Defecto del septum primum, pequeño defecto del tabique interventricular de entrada</li>
                    <li>2 válvulas atrioventriculares separadas</li>

                </ul>
            </li>
            <li>CAV no balanceado
                <ul>
                    <li>Desequilibrio de tamaños ventriculares:</li>
                    <li>Predominio ventricular derecho en hipoplasia ventricular izquierda y viceversa; a menudo en asociación con anomalías cardíacas complejas (heterotaxia, en particular asplenia)</li>
                </ul>
            </li>
        </ul>
        <div class="row">
            <div class="col-6">
                <img src="../assets/img/cardiopatias-congenitas/001.png" alt="">
            </div>
            <div class="col-6">
                <img src="../assets/img/cardiopatias-congenitas/002.png" alt="">
            </div>
        </div>
        <p>Representación esquemática de la anatomía normal y de los diferentes tipos de AVSD</p>
        <h5>Prevalencia</h5>
        <p>Aproximadamente 2.7 / 10.000 nacimientos vivos (3-5% de todas las cardiopatías congénitas).</p>
        <h5>Lesiones asociadas</h5>
        <ul>
            <li>Defecto tipo Ostium Secundum (20%)</li>
            <li>Ductus arterioso persistente (10%)</li>
            <li>Tetralogía de Fallot (0.4%)</li>
            <li>Vena cava superior izquierda persistente</li>
            <li>Doble orificio / válvula auriculoventricular izquierda en paracaídas </li>

        </ul>
        <h5>Anomalías genéticas asociadas</h5>
        <ul>
            <li>Presentes hasta en el 64% de los pacientes; 96% de ellos siendo Trisomía 21</li>
            <li>Alrededor del 40-50% de los niños con trisomía 21 se ven afectados con un CAV, principalmente en la forma completa.</li>
        </ul>
        <h5>Diagnóstico diferencial</h5>
        <ul>
            <li>Todas las formas de defectos del tabique auricular</li>
            <li>Defectos del tabique ventricular</li>
            <li>Lesiones complejas en asociación con un CAV</li>
        </ul>
        <h5>Hemodinamia y presentación clínica</h5>
        <h5>CAV parcial</h5>
        <ul>
            <li>Cortocircuito de izquierda a derecha a nivel auricular</li>
            <li>Hipertensión pulmonar en defectos grandes</li>
            <li>Los síntomas clínicos se limitan a defectos grandes o insuficiencia valvular auriculoventricular significativa.</li>
        </ul>
        <h5>CAV completo</h5>
        <ul>
            <li>Hemodinamia similar a la de una comunicación interventricular grande con presiones similares en el ventrículo izquierdo y derecho</li>
            <li>Posible derivación del ventrículo izquierdo a la aurícula derecha</li>
            <li>La resistencia vascular pulmonar aumenta rápidamente a partir de los 6 meses de vida</li>
            <li>A menudo se observa regurgitación significativa de la válvula auriculoventricular izquierda o derecha. Los síntomas incluyen taquipnea, hepatomegalia y compromiso ponderal. Se debe poner atención especial a pacientes con Trisomía 21; hipoventilación
                debido a obstrucción de vía aérea superior, hipoventilación alveolar e hipotonía muscular general.</li>
        </ul>
        <h5>Diagnóstico</h5>
        <h5>ECG</h5>
        <ul>
            <li>Desviación del eje a izquierda</li>
            <li>Intervalo PR prolongado</li>
            <li>Crecimiento auricular izquierda o de ambas aurículas</li>
            <li>Crecimiento ventricular izquierdo o bilateral</li>
        </ul>
        <h5>Ecocardiografía</h5>
        <p>La ecocardiografía es la herramienta diagnóstica principal</p>
        <ul>
            <li>Evaluación del defecto del tabique auriculoventricular, incluido el tamaño de los componentes auriculares y ventriculares.</li>
            <li>Válvulas auriculoventriculares: anatomía; incompetencia valvular; inserción septal de músculos papilares de la válvula auriculoventricular izquierda, hendidura de la valva anterior de la válvula atrioventricular izquierda</li>
            <li>Tamaño de los ventrículos: ¿desequilibrio ventricular?</li>
            <li>Obstrucción del tracto de salida del ventrículo izquierdo o derecho?</li>
            <li>Evaluación de la presión arterial pulmonar</li>
            <li>Exclusión de lesiones coexistentes: vena cava superior izquierda, tetralogía de Fallot, coartación, heterotaxia.</li>
        </ul>
        <h5>Cateterismo</h5>
        <ul>
            <li>Generalmente no es necesario para el diagnóstico o manejo de CAVP y de CAVC antes de los 6 meses de vida.</li>
            <li>Indicado en niños mayores cuando se sospecha una resistencia vascular pulmonar elevada.</li>
            <li>Evaluación de la resistencia vascular pulmonar y prueba de reactividad pulmonar con vasodilatadores pulmonares.</li>
        </ul>
        <h5>Tratamiento</h5>
        <p>El objetivo del tratamiento es la reparación quirúrgica oportuna de las lesiones. Indicaciones: <br> El CAVP asintomático puede corregirse de manera electiva después del primer año de vida, de lo contrario antes si se complica por síntomas clínicos
            o por compromiso ponderal.<br> El CAVC generalmente se repara entre los 3 y 6 meses de vida; se debe considerar una reparación más temprana en pacientes con insuficiencia cardíaca grave.
        </p>
        <h5>Manejo Farmacológico</h5>
        <p>El tratamiento médico corresponde al manejo de la insuficiencia cardiaca si es que esta se presenta (diuréticos, IECAs, etc.) hasta el momento de la reparación quirúrgica.</p>
        <h5>Tratamiento Quirúrgico</h5>
        <p><b>CAVP:</b> La reparación quirúrgica consiste en el cierre del defecto auricular con un parche y la reconstrucción de la válvula auriculoventricular izquierda (incluido el cierre de la hendidura).<br>
            <b>CAVC:</b> Los defectos auriculares y ventriculares se cierran con parches y la válvula auriculoventricular común se separa en una válvula auriculoventricular derecha e izquierda.
        </p>
        <h5>Complicaciones Quirúrgicas:</h5>
        <p>La mortalidad hospitalaria general para la reparación de un CAVC es de aproximadamente 3%. Peso
            < 3.5 kg y edad < 2.5 meses se asocian con tasas más altas de mortalidad. El riesgo de bloqueo AV completo que requiere implantación de marcapasos permanente es inferior al 3%.</p>
                <h5>Pronóstico</h5>
                <p>La sobrevida postoperatoria a largo plazo de pacientes con CAVP es excelente (90% a 20 años). En CAVC se describe que la supervivencia es del 95% después de 5 años, y 80 y 78% después de 10 y 20 años, respectivamente.<br> La lesión residual
                    más frecuente es la incompetencia de la válvula auriculoventricular izquierda con una tasa de reoperación de 2 a 10% a 10 años.
                </p>
                <h5>Recomendaciones para el seguimiento</h5>
                <p>Evaluar:</p>
                <ul>
                    <li>Defectos septales auriculares o ventriculares residuales.</li>
                    <li>Incompetencia de la válvula auriculoventricular del lado izquierdo (raramente del lado derecho)</li>
                    <li>Obstrucciones del tracto de salida del ventrículo izquierdo </li>
                    <li>Persistencia de hipertensión pulmonar: implementación de vasodilatadores pulmonares.</li>

                </ul>
                <h5>TETRALOGÍA DE FALLOT</h5>
                <h5>Definición</h5>
                <p>Desde el punto de vista anatómico la tetralogía de Fallot se define por una desviación anterior y superior del septum conal, que lleva a:</p>
                <ul>
                    <li>Obstrucción del tracto de salida del ventrículo derecho </li>
                    <li>Defecto del tabique ventricular mal alineado, no restrictivo</li>
                    <li>Cabalgamiento de la Aorta sobre el tabique interventricular</li>
                    <li>Hipertrofia ventricular derecha</li>
                </ul>
                <p>Las lesiones asociadas más frecuentes son:</p>
                <ul>
                    <li>Defecto del tabique interauricular</li>
                    <li>Estenosis e hipoplasia de la válvula pulmonar, así como de las arterias pulmonares a nivel central y periférico</li>
                    <li>Ductus arterioso persistente y / o colaterales aortopulmonares en la obstrucción severa del tracto de salida del ventrículo derecho (atresia pulmonar funcional)</li>
                    <li>Arco aórtico derecho (25%)</li>
                    <li>Arteria coronaria descendente anterior izquierda anómala que surge de la arteria coronaria derecha y cruza el tracto de salida del ventrículo derecho (5%)</li>
                </ul>
                <h5>Epidemiología</h5>
                <p>2.7 / 10.000 nacimientos vivos (correspondiente al 2.5% de todos los defectos cardíacos congénitos).</p>
                <h5>Síndromes asociados</h5>
                <ul>
                    <li>Microdeleción del cromosoma 22q11 en el 9-17% de los pacientes con Tetralogía de Fallot aislada y en el 60-70% de los pacientes con Tetralogía de Fallot y arco aórtico derecho.</li>
                </ul>
                <h5>Diagnóstico diferencial</h5>
                <ul>
                    <li>Atresia pulmonar con comunicación interventricular</li>
                    <li>Doble salida del ventrículo derecho</li>
                    <li>Estenosis valvular pulmonar con comunicación interventricular.</li>
                </ul>
                <h5>Hemodinamia</h5>
                <ul>
                    <li>Cortocircuito de derecha a izquierda a nivel ventricular debido a la obstrucción del tracto de salida del ventrículo derecho que resulta en cianosis sistémica.</li>
                    <li>La cianosis depende del grado de obstrucción del tracto de salida del ventrículo derecho.</li>
                    <li>Algunos pacientes con obstrucción leve del tracto de salida del ventrículo derecho no muestran cianosis ("Fallot rosado").</li>
                </ul>
                <h5>Presentación clínica</h5>
                <ul>
                    <li>Soplo sistólico causado por la obstrucción del tracto de salida del ventrículo derecho</li>
                    <li>Cianosis sistémica.</li>
                    <li>Una complicación potencialmente mortal es la presencia de crisis anoxémicas. Estas se caracterizan por aumento de la cianosis, taquicardia, disminución de la intensidad o ausencia del soplo cardíaco sistólico y a veces, pérdida del
                        conocimiento y convulsiones. El estrés, la hipovolemia y la fiebre pueden desencadenar estos episodios.</li>
                    <li>Acropaquia, posición en cuclillas, abscesos cerebrales pueden presentarse en el seguimiento a largo plazo en pacientes con tetralogía de Fallot no tratada.</li>
                </ul>
                <h5>Diagnóstico</h5>
                <h5>Ecocardiografía</h5>
                <p>La ecocardiografía es la técnica de diagnóstico por imagen clave que requiere la definición de las siguientes características:</p>
                <ul>
                    <li>Obstrucción del tracto de salida del ventrículo derecho (estenosis pulmonar subvalvular, valvular y supravalvular)</li>
                    <li>Tamaño arteria pulmonar y ramas pulmonares</li>
                    <li>Características del defecto del tabique interventricular mal alineado</li>
                    <li>Anomalías del arco aórtico </li>
                    <li>Arterias coronarias </li>
                    <li>Anomalías adicionales</li>
                </ul>
                <h5>Saturometría:</h5>
                <ul>
                    <li>Medido en cada examen de seguimiento.</li>
                    <li>Las saturaciones persistentes de
                        < 80% requieren intervención terapéutica.</li>

                </ul>
                <h5>ECG</h5>
                <p>Sin valor diagnóstico, los hallazgos típicos son hipertrofia ventricular derecha, bloqueo incompleto de rama derecha.</p>
                <h5>Cateterismo</h5>
                <ul>
                    <li>No está indicado para la evaluación diagnóstica preoperatoria.</li>
                    <li>Puede estar indicado si hay sospecha de flujo pulmonar dual, evaluar características de las ramas pulmonares o coronarias con trayecto anómalo.</li>

                </ul>
                <h5>Resonancia Magnética</h5>
                <p>
                    No está indicado para la evaluación diagnóstica preoperatoria de rutina. Gold standard para determinación de volumen de ventrículo derecho en contexto de seguimiento en pacientes operados que evolucionan con insuficiencia valvular pulmonar.
                </p>
                <h5>Examen genético</h5>
                <p>FISH para microdeleción 22q11.2 recomendada en todos los pacientes.</p>
                <h5>Tratamiento</h5>
                <p>El objetivo es la reparación anatómica de la obstrucción del tracto de salida del ventrículo derecho y cierre del defecto septal ventricular. La reparación quirúrgica electiva se recomienda en lactantes de 4 a 12 meses clínicamente estables.
                    En pacientes intensamente cianóticos o pacientes con crisis anoxémicas, la reparación se puede realizar antes, con un aumento leve de la morbilidad y la mortalidad (mortalidad 7.8% en neonatos versus 0.9% en lactantes). Si no se puede
                    realizar una cirugía reparadora, se realiza una intervención paliativa con la finalidad de aumentar el flujo sanguíneo pulmonar.</p>
                <h5>Procedimientos paliativos</h5>
                <p>Ninguno de estos procedimientos tiene una superioridad comprobada.</p>
                <h5>Manejo Farmacológico</h5>
                <ul>
                    <li>Infusión de prostaglandina en recién nacidos con flujo pulmonar ductus dependiente.</li>
                    <li>Considerar uso de beta bloqueadores, Ej. Propranolol (2-6 mg/kg/día) para la reducción de la obstrucción del tracto de salida del ventrículo derecho. <br> Si las saturaciones de oxígeno permanecen
                        < 80% a pesar del tratamiento médico, está indicado un procedimiento invasivo. <br>
                            Las crisis anoxémicas constituyen una situación de emergencia que requiere tratamiento inmediato para aumentar la resistencia vascular sistémica y así incrementar el flujo pulmonar. Su manejo debe considerar:
                            <ul>
                                <li>Posición en cuclillas</li>
                                <li>Administración de O2</li>
                                <li>Sedación con Morfina (sc o iv 0.1-0,2 mg / kg), Midazolam (iv 0.1 mg / kg, rectal o intranasal 0.5 mg / kg) o Ketamina (iv 1-2 mg / kg, im 5 mg / kg )</li>
                                <li>Administración de volumen (bolo repetido de 10 ml / kg)</li>
                                <li>Si es necesario: intubación, i.v. noradrenalina y betabloqueantes en la unidad de cuidados intensivos.</li>
                            </ul>
                    </li>

                </ul>
                <h5>Cateterismo intervencional</h5>
                <p> Para mejorar la perfusión de la arteria pulmonar, las siguientes intervenciones se pueden realizar como paliación en pacientes seleccionados:</p>
                <ul>
                    <li>Valvuloplastia con balón en neonatos sintomáticos y lactantes con estenosis severa y predominantemente valvular de la arteria pulmonar.</li>
                    <li>La instalación de un stent en el ductus arterioso permeable en neonatos con circulación pulmonar ductus dependiente.</li>
                    <li>instalación de un stent en el tracto de salida del ventrículo derecho.</li>
                    <li>Oclusión de colaterales aortopulmonares importantes hemodinámicamente significativas.</li>
                </ul>
                <h5>Cirugía</h5>
                <h5>Paliativa</h5>
                <p>
                    La paliación quirúrgica para aumentar el flujo sanguíneo pulmonar es infrecuente en la actualidad, ya que la corrección primaria es el procedimiento preferido en la mayoría de los pacientes. <br> Opciones:
                </p>
                <ul>
                    <li>Derivación Blalock-Taussig modificada (comunicación entre la arteria subclavia y la rama pulmonar ipsilateral)</li>
                    <li>Ampliación con parche del tracto de salida del ventrículo derecho.</li>
                </ul>
                <h5>Reparadora</h5>
                <p>La reparación quirúrgica incluye:</p>
                <ul>
                    <li>Cierre de comunicación interventricular mediante un parche a través de un abordaje transatrial o por ventriculotomía.</li>
                    <li>Ampliación del tracto de salida del ventrículo derecho. El modo de ampliación depende del diámetro y la morfología de la válvula de la arteria pulmonar.</li>
                    <li>Si el diámetro del anillo de la válvula pulmonar es mayor a - 2 DS, generalmente se realiza una valvulotomía pulmonar con preservación del anillo de la válvula pulmonar.</li>
                    <li>Si el anillo es inferior a −2 DS, se amplía mediante un parche transanular.</li>
                    <li>Para minimizar la extensión de la insuficiencia valvular pulmonar, se recomienda una ampliación del anillo lo más pequeño posible, incluso si persiste una obstrucción del tracto de salida del ventrículo derecho residual leve a moderada.</li>
                    <li>Alivio de la estenosis pulmonar subvalvular por una miectomía transatrial o por ventriculotomía. El resultado de la reparación debe evaluarse intraoperatoriamente mediante ecocardiografía transesofágica para detectar un defecto septal
                        ventricular residual u obstrucción del tracto de salida del ventrículo derecho.</li>
                </ul>
                <h5>Pronóstico</h5>
                <p>Posibles complicaciones en el seguimiento a largo plazo:</p>
                <ul>
                    <li>Insuficiencia de la válvula pulmonar</li>
                    <li>Estenosis residual del tracto de salida del ventrículo derecho</li>
                    <li>Dilatación y disfunción del ventrículo derecho</li>
                    <li>Arritmia supraventricular y ventricular</li>
                </ul>
                <h5>Recomendaciones para el seguimiento </h5>
                <p>Los exámenes de seguimiento regulares son necesarios generalmente una vez al año.</p>
                <ul>
                    <li><b>Ecocardiografía</b></li>
                    <li><b>ECG</b> (aumento del riesgo de taquicardia ventricular si la duración del QRS es > 180 ms o con un aumento de la duración del QRS > 3.5 ms / año)</li>
                    <li><b>Holter ECG</b> cada 3 años en niños asintomáticos</li>
                    <li><b>Resonancia magnética cardíaca</b> (cuantificar dilatación, disfunción del ventrículo derecho y la severidad de la insuficiencia valvular pulmonar. Examen fundamental para definir quienes son candidatos para una reintervención.</li>
                    <li><b>Test de Esfuerzo.</b> Muchos pacientes sobreestiman su capacidad de ejercicio.</li>
                </ul>
                <p>Profilaxis de endocarditis está indicada en:</p>
                <ul>
                    <li>Pacientes no corregidos</li>
                    <li>Pacientes después de una reparación quirúrgica durante 6 meses</li>
                    <li>Pacientes con reemplazo valvular pulmonar percutáneo o quirúrgico (grupo de alto riesgo).</li>

                </ul>