<h2>NEUMONIA RECURRENTE</h2>
<h5>Javier Cepeda S., Claudia Fuentes.</h5>
<hr>
<h5>Definición</h5>
<p>Neumonía recurrente (NR) se define como la presencia de al menos 2 episodios de neumonía en 1 año o 3 episodios en toda la vida, con resolución radiológica de las imágenes en el periodo intercrítico.</p>
<h5>Epidemiología</h5>
<p>La incidencia se estima entre un 7,7 – 9% de todos los niños con neumonía adquirida en la comunidad. Estudios demuestran que hasta un 8% de los niños hospitalizados por neumonía cumple criterios de NR y sobre un 10% tienen factores de riesgo de neumonía
    recurrente.
</p>
<p>Una serie de casos recientemente publicada de 113 pacientes pediátricos con NR radiológicamente confirmada informó un diagnóstico específico en el 83% de los casos. En los casos de NR a igual foco, las causas más frecuentes fueron: síndrome del lóbulo
    medio seguido de malacia localizada, malformación pulmonar congénita y TBC. En los casos de NP en diferentes áreas, las causas principales fueron DCP seguido de inmunodeficiencia primeria, dismotilidad esofágica, FQ y patología autoinmune. En dicho
    grupo, en un 22% la etiología fue desconocida.</p>
<p>Un estudio publicado en el año 2013 correspondiente a una cohorte de 146 pacientes pediátricos italianos con NAC a repetición demostró que los principales factores de riesgo de NR fueron cardiopatía congénita, incoordinación motora-oral y trastorno de
    la deglución, disquinesia ciliar, inmunodeficiencia primaria o adquirida, rinosinusitis y asma.</p>
<h5>Etiología</h5>
<p>La neumonía recurrente en niños siempre es causa de preocupación debido a que habitualmente es una consecuencia de una condición subyacente o una anomalía anatómica que puede resumirse en inmunodeficiencias (congénitas o adquiridas), condiciones que promueven
    la acumulación de mucus (asma mal controlado, FQ), condiciones que alteran el clearence mucociliar de las vías aéreas (DPC o traqueobroncomalacia), anomalías estructurales pulmonares (malformación pulmonar quística) e infecciones silentes (TBC). Los
    registros de las causas subyacentes provienen principalmente de estudios de serie de casos retrospectivos, con escasos estudios prospectivos (tabla 1). </p>
<p>En términos prácticos, las causas más frecuentes se dividen según la afectación sea del mismo lóbulo/segmento y aquellas con compromiso múltiple.</p>

<div class="table-responsive">
    <table class="table table-hover table-striped bg-light rounded">
        <thead>
            <tr>
                <th>
                    Tabla 2. Causas de NR que afectan a un mismo lóbulo / segmento
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Síndrome del Lóbulo medio (lo más frecuente)</td>
            </tr>
            <tr>
                <td>Obstrucción localizada de la vía aérea:
                    <ul>
                        <li>Cuerpo extraño endobronquial</li>
                        <li>Bronquiectasia o malacia localizada</li>
                        <li>Malformación congénita; membranas congénitas, anillos cartilaginosos completos</li>
                        <li>Tapón mucoso</li>
                        <li>Tumor carcinoide o tumores pedunculados</li>
                        <li>Tumor intramural de la VA</li>
                        <li>Pseudotumor inflamatorio 2° a intubación previa</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Compresión localizada de la vía aérea:
                    <ul>
                        <li>Anillos vasculares</li>
                        <li>Crecimiento de linfonodos</li>
                        <li>Crecimiento de cavidad cardiacas 2° a shunt D-I; cardiomiopatía</li>
                        <li>Mediastinitis fibrosante</li>
                        <li>Cáncer mediastínico</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    Enfermedad parenquimatosa:
                    <ul>
                        <li>Malformación congénita</li>
                        <li>Infección de quiste residual tras TBC pulmonar o neumonía cavitante</li>
                        <li>Cáncer pulmonar</li>
                    </ul>
                </td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th>
                    Tabla 3. Causas de NR que afectan a un diferentes o múltiples lóbulos
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Trastornos inmune sistémicos
                    <ul>
                        <li>Inmunodeficiencia primaria</li>
                        <li>Inmunodeficiencia adquirida</li>
                        <li>Trastornos inmunes locales (trastorno de la inmunidad de las mucosas)</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    Enfermedades genéticas
                    <ul>
                        <li>Fibrosis Quística</li>
                        <li>Disquinesia ciliar primaria</li>

                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    Trastornos neuromusculares
                    <ul>
                        <li>Enfermedad del sistema nervioso central</li>
                        <li>Patología periférica muscular o nerviosa</li>
                        <li>Condiciones que causan debilidad de los músculos espiratorios</li>

                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    Anomalías de la vía aérea
                    <ul>
                        <li>Bronquiectasias post-infecciosas o idiopáticas</li>
                        <li>Anillos cartilaginosos completos múltiples</li>
                        <li>Broncomalacia generalizada </li>

                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    Obstrucción de la vía aérea central
                    <ul>
                        <li>Compresión de la VA por crecimiento cardiaco o de grandes vasos</li>
                        <li>Anillos vasculares</li>

                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    Aspiración recurrente
                    <ul>
                        <li>ERGE severo</li>
                        <li>Fistula tipo H de presentación tardía y aislada</li>
                        <li>Síndromes de dismotilidad esofágica</li>
                        <li>Laringe hendida</li>

                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    Enfermedades autoinmunes
                </td>
            </tr>
            <tr>
                <td>
                    Síndromes Pulmonares Hemorrágicos
                </td>
            </tr>
            <tr>
                <td>
                    Aspergilosis Broncopulmonar Alérgica
                </td>
            </tr>
            <tr>
                <td>
                    Enfermedad granulomatosa
                </td>
            </tr>
            <tr>
                <td>
                    Edema pulmonar Recurrente (Shunt cardiaco de I-D, ICC)
                </td>
            </tr>
            <tr>
                <td>
                    Toxicidad por drogas
                </td>
            </tr>
        </tbody>
    </table>
</div>
<h5>
    Fisiopatología
</h5>
<p>Se ha descrito un conjunto de patologías o situaciones clínicas que pueden aumentar la frecuencia y la severidad de los episodios de neumonía, entre los que destacan:</p>

<div class="table-responsive">
    <table class="table table-hover table-striped bg-light rounded">
        <thead>
            <tr>
                <th colspan="2" class="text-center">
                    Tabla 3. Fisiopatología de los factores de riesgo de neumonía recurrente
                </th>
            </tr>
            <tr>
                <th class="text-center">
                    Condición clínica
                </th>
                <th class="text-center">
                    Mecanismo subyacente
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Displasia Broncopulmonar</td>
                <td>
                    <ul>
                        <li>Inmunidad disminuida por bajos niveles de Ac maternos</li>
                        <li>Alteración de la función pulmonar</li>
                        <li>Alteración de la respuesta inmunitaria innata pulmonar a patógenos secundaria a hiperoxia neonatal</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Atopía</td>
                <td>
                    <ul>
                        <li>Defecto de la inmunidad innata de las células epiteliales</li>
                        <li>Disminución del clearence mucociliar dependiente de IL – 13</li>

                    </ul>
                </td>
            </tr>
            <tr>
                <td>Exposición a tabaco</td>
                <td>
                    <ul>
                        <li>- Disminución del volumen pulmonar neonatal y alteración de la respuesta inmune mediada por receptores toll-like</li>
                        <li>- Supresión de la actividad fagocítica de neutrófilos y monocitos/macrófagos 2° a disminución de producción de radicales de oxígeno</li>
                        <li>- Incremento de la adherencia bacteriana</li>
                        <li>- Alteración de la función pulmonar</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Hacinamiento</td>
                <td>Incremento de la exposición a patógenos respiratorios</td>
            </tr>
            <tr>
                <td>Contaminación intra y extradomiciliaria</td>
                <td>Inflamación de bronquios distales y alveolos</td>
            </tr>
        </tbody>

    </table>
</div>
<h5>
    Estudio y manejo
</h5>
<p>
    En la evaluación de niños con NR el principal reto es diferenciar aquellos niños sanos con infecciones respiratorias recurrentes asociadas probablemente a exposición viral versus aquellos con una condición subyacente que requerirá de múltiples estudios.
    Puede considerarse un manejo expectante en pacientes que:
</p>
<ul>
    <li>Cursan con infecciones autolimitadas</li>
    <li>Sin compromiso multisistémico</li>
    <li>Periodos intercríticos prolongados</li>
    <li>Evaluación antropométrica y DSM normal</li>
    <li>Ausencia de antecedentes familiares de importancia</li>
    <li>Rápida respuesta a tratamiento con recuperación completa del episodio</li>

</ul>
<p>Por otra parte, diferentes signos en la anamnesis o examen físico sugieren la presencia de una causa subyacente en un niño con NR y son indicativas de estudio (tabla 4)</p>
<p>En términos generales, los estudios complementarios son mandatorios si las NR tienen una presentación precoz, se manifiestan con signos/síntomas severos, existe cualquier signo de compromiso sistémico, complicaciones locales severas o se pesquisa un patógeno
    inusual. Así mismo, se debe estudiar si existe la historia familiar de algún trastorno genético que afecte primariamente al sistema respiratorio o hay muertes inexplicables en la familia.</p>

<div class="table-responsive">
    <table class="table table-hover table-striped bg-light rounded">
        <thead>
            <tr>
                <th colspan="2" class="text-center">
                    Tabla 4. Factores que indican necesidad de estudios complementarios
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Anamnesis</td>
                <td>
                    <ul>
                        <li>Historia familiar de muerte inexplicable, infección severa o enfermedad multisistémica</li>
                        <li>Microorganismo infrecuente o cualquier característica de inmunodeficiencia sistémica</li>
                        <li>Infección respiratoria en asociación a infección extrapulmonar</li>
                        <li>Rinosinusitis crónica y/u OMA a partir de los primeros meses de vida</li>
                        <li>Inicio súbito de los síntomas</li>
                        <li>Tos crónica productiva</li>
                        <li>Mayor severidad de los síntomas o irritabilidad tras la alimentación o el decúbito</li>
                        <li>Síntomas continuos y persistentes</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    Examen físico
                </td>
                <td>
                    <ul>
                        <li>Infección severa</li>
                        <li>Infecciones persistentes, sin recuperación con el tratamiento esperado</li>
                        <li>Neumonia intersticial prolongada sin agente infeccioso subyacente</li>
                        <li>Inadecuado crecimiento pondoestatural, baja de peso o acropaquia</li>
                        <li>Deformidad torácica inusualmente severa</li>
                        <li>Sibilancias monofónicas fijas o asimétricas</li>
                        <li>Signos de patología cardiaca o sistémica</li>
                        <li>Persistencia de crépitos a la auscultación > 8 semanas</li>

                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<h5>
    Neumonía recurrente en igual foco
</h5>
<p>
    Si bien no existe base en la evidencia para determinar el momento más apropiado para cada estudio o la óptima secuencia diagnóstica, es importante considerar que, si el área involucrada es la misma o hay ruidos agregados localizados incluso en periodos
    intercríticos, el test de mayor importancia es la Fibrobroncoscopía con lavado bronquioalveolar para excluir una patología focal de la vía aérea (CE, obstrucción intraluminal, tapón mucoso, compresión extrínseca) y TAC de tórax con contraste de alta
    resolución para descartar patología focal del parénquima y vasculatura (en ausencia de infección aguda para evitar errores en la interpretación) estableciendo una comparación con el estudio de imágenes previo. En términos generales, estos exámenes
    son habitualmente suficientes para hacer el diagnóstico en casos de obstrucción bronquial intra o extraluminal o anomalías estructurales de la vía aérea o parénquima. (Figura 1)
</p>
<p>
    El secuestro pulmonar, la malformación adenomatoidea quística y quiste broncogénico son las malformaciones pulmonares que con mayor frecuencia producen NR. Debe considerarse ante lesiones que drenan hacia la circulación sistémica o tienen riegue arterial
    procedente de la aorta.
</p>
<p>
    Si se sospecha patología del mediastino, de la pared torácica o masas de tejidos blandos, la RM de tórax es de elección permitiendo obtener información funcional y anatómica en niños con NR.
</p>
<p>
    El estudio ecocardiográfico es importante para determinar el crecimiento de las cámaras cardiacas que pueden generar compresión bronquial.
</p>
<p>
    En los casos en que sea posible, es importante considerar la realización de pruebas de función pulmonar como la espirometría pese a que esta no provee información localizada de cada lóbulo o segmento y puede no ser suficientemente sensible en la evaluación
    de la vía aérea distal.
</p>
<p>
    Pruebas específicas como el PPD o la evaluación de títulos para coccidioidomicosis, blastomicosis e histoplasmosis deben realizarse en caso alta sospecha de dichas patologías.
</p>
<p>
    Si el estudio previo no es concluyente, debe considerarse un enfoque más invasivo por ej: escisión quirúrgica, biopsia de linfonodos, mediastinoscopía, etc. Finalmente, siempre debe considerarse que las NR a igual foco pueden ser la primera forma de presentación
    de una enfermedad generalizada.
</p>
<p>
    El <b>síndrome del lóbulo medio</b> es una de las causas más frecuentes de NR a igual foco, secundario a las características anatómicas del bronquio del lóbulo medio (estrecho, alargado y en ángulo agudo), ausencia de ventilación colateral y tendencia
    a la compresión por linfonodos adyacentes.
</p>
<p>
    Por su parte, la <b>aspiración de cuerpo extraño</b> es la causa más frecuente de obstrucción intraluminal y debe sospecharse en casos de disnea súbita, tos y neumonía recurrente, especialmente si existe historia clínica compatible, no obstante, su
    clínica es habitualmente inespecífica. La compresión extraluminal puede ser secundaria a hipertrofia de linfonodos o vasos sanguíneos aberrantes.
</p>
<h5>
    Neumonía recurrente a foco múltiple
</h5>
<p>
    Por otra parte, el diagnóstico diferencial de NR a foco múltiple es amplio y, por tanto, la cantidad de pruebas necesarias es mayor. En consideración a ello, el enfoque debe estar basado en la sospecha y conducido por los datos recolectados en la historia
    clínica y examen físico. Dado que muchas de estas enfermedades pueden ser diagnosticadas únicamente utilizando pruebas específicas de laboratorio o instrumentales, el diagnostico de pacientes con NP a foco múltiple puede ser particularmente complicado,
    costoso y en ocasiones poco eficaz (Figura 2).
</p>
<p>
    Idealmente, el diagnóstico debe confirmarse o ser excluido con el menor número posible de pruebas invasivas. Se debe realizar una evaluación del sistema inmune (hemograma, inmunoglobulinas séricas totales y subclases, subpoblaciones linfocitarias, C3,
    C4, CH50 y respuesta específica a toxoide tetánico, polisacáridos capsulares de H. Influenzae tipo B, neumococo y/o sarampión, rubeola, parotiditis y virus de la hepatitis B), Nasofibrobroncoscopía, ELS (y/o estudio genético del CFTR), pH metría de
    24 horas, screening de TBC y estudio de motilidad o ultraestructura ciliar.
</p>
<p>
    Si todas estas pruebas son negativas y el paciente persiste con NR, la FBC con LBA se recomienda con la intención de potenciales patógenos no tratados, realizar un estudio citológico y evaluar signos indirectos de aspiración.
</p>
<p>
    <b>Trastornos genéticos</b> que afectan primariamente la inmunidad pulmonar como la Fibrosis Quística (FQ), Disquinesia Ciliar Primaria (DCP) o defectos del sistema inmune pueden presentarse con NR a foco múltiple. Las características clínicas de
    la DPC incluyen la historia de distrés respiratorio neonatal, anomalías del situs, rinorrea desde el periodo neonatal, OMA severa con pérdida auditiva, tos crónica productiva e historia familiar de DCP.
</p>
<p>
    Las <b>inmunodeficiencias</b>, especialmente el déficit de anticuerpos, trastornos del complemento y anomalía de los neutrófilos, deben considerarse y excluirse precozmente a fin de preservar la función y el crecimiento pulmonar. Sospechar ante infecciones
    severas en otros órganos (ej. TGI), neumonía por bacterias infrecuentes o con infecciones masivas y especialmente aquellas de curso prolongado.
</p>
<p>
    Pacientes con <b>trastornos neurológicos crónicos</b> frecuentemente tienen síntomas respiratorios. Las causas son aspiración recurrente por ERGE o trastorno de la deglución, disminución del clearence mucociliar por hipotonía o disminución del reflejo
    de la tos lo que puede empeorar con el uso de anticonvulsivantes. Se debe realizar una anamnesis dirigida en búsqueda de situaciones de atoro /asfixia y descartar incordinación neurológica de la deglución.
</p>
<h5>Derivación</h5>
<p>
    Todos los pacientes con NR deben ser derivados a especialista en enfermedades respiratorias infantiles
</p>
<h5>Bibliografía</h5>
<ul>
    <li>Montella S. Recurrent pneumoniae in children: A reasoned diagnostic approach and a single centre experience. Int J Ml Sci. 2017 Feb;18(2):296</li>
    <li>Jinchlinski A. Case 1: Recurrent pneumonia in a 15-years-old girl. Pediatr Rev. 2018 sep;39(9):464:467</li>
    <li>Patría F. Clinical profile of recurrent community-acquired pneumonia in children. BMC Pulm Med. 2013 Oct 10;13:60</li>
    <li>Hoving M. Causes of recurrent pneumonia in children in a general hospital. J Paediatr Child Health. 2013 Mar;49(3):E208-12</li>
    <li>Brand PL. Evaluation the child with recurrent lower respiratory tract infections. Paediatr Respir Rev. 2012 sep; 13(3):135-8</li>

</ul>
<h5>Tabla 1. Principales cohortes de NR pediátrica</h5>
<img src="../assets/img/neumonia-recurrente/001.png" alt="">

<p></p>
<h5>Figura 1. Enfrentamiento diagnóstico en NR a igual foco</h5>
<img src="../assets/img/neumonia-recurrente/002.png" alt="">

<p></p>
<h5>Figura 2. Enfrentamiento diagnóstico en NR a foco múltiple</h5>
<img src="../assets/img/neumonia-recurrente/003.png" alt="">