<h2>Bronquiolitis</h2>
<h5>Javier Cepeda S., Daniel Zenteno A.</h5>
<hr>
<h5>Definición</h5>
<p>La bronquiolitis es la causa más frecuente de infección de la vía aérea baja en los menores de 2 años, siendo habitualmente de etiología viral. En la mayoría de los casos esta se presenta como un cuadro leve y autolimitado de manejo ambulatorio, no obstante,
    un porcentaje puede evolucionar hacia la falla respiratoria progresiva y requerir ingreso hospitalario o unidades críticas.</p>
<p>No existe consenso en las diferentes guías nacionales con respecto al límite de edad a considerar en la definición de bronquiolitis. Las guías europeas tienden a restringirla a los primeros 12 meses de vida y a la primera presentación, mientras que las
    norteamericanas hasta los 24 meses, independiente del número de episodios.</p>
<p>Estudios recientes muestran amplia heterogeneidad en la presentación clínica, respuesta inmunológica y pronóstico respiratorio, por lo que se ha planteado la existencia de diferentes fenotipos con respuesta variable a las diferentes alternativas terapéuticas
    existentes.
</p>
<h5>Epidemiología</h5>
<p>La incidencia, durante el primer año de vida, se ha estimado entre el 11 y 15% del total de lactantes. Dependiendo de la severidad, se describen al menos 5 hospitalizaciones por cada 1000 niños menores de 2 años y hasta el 3% de los menores de 1 año.
    La bronquiolitis es clásicamente un cuadro estacional siendo más común en periodo de otoño e invierno, aunque casos esporádicos pueden ocurrir durante todo el año. Se han descrito múltiples factores asociados a mayor riesgo de severidad (principalmente
    asociados a infección por VRS), entre los que destacan historia de prematurez (menor a 34 semanas y especialmente menor a 29 semanas de EG), edad menor a 3 meses (predictor más importante), enfermedad neuromuscular, cardiopatía congénita con significancia
    hemodinámica, displasia broncopulmonar, anomalías genéticas o cromosómicas (trisomía 21), exposición al tabaco (in útero o ambiental) e inmunodeficiencias. Otro factor de riesgo descrito es el sexo masculino, sin diferencias en razas ni etnias.</p>
<h5>Etiología</h5>
<p>El VRS es el agente causal más frecuente en los lactantes, logrando objetivarse en un 50 – 80% de todas las hospitalizaciones por bronquiolitis y se ha relacionado con un curso clínico más severo en comparación a los otros agentes etiológicos. Por su
    parte, el Rinovirus es el 2° en frecuencia y ha empezado a mostrar predominancia en aquellos mayores de 12 meses. Factores de riesgo para la infección por Rinovirus incluyen respuesta inmune de predominio TH2, exposición a alergenos, alteración de
    la barrera epitelial, respuesta deficitaria de interferón y disminución de la función pulmonar. Otros agentes virales son el bocavirus humano, metapneumovirus, parainfluenza, adenovirus, coronavirus e influenza. La coinfección virus-virus ocurre entre
    un 10-40% de los casos, siendo más frecuente en los casos severos la asociación VRS-Rinovirus, aunque su significancia clínica no ha sido bien definida.</p>
<h5>Fisiopatología</h5>
<p>Los virus causantes de bronquiolitis habitualmente afectan solo el tracto respiratorio superior o la mucosa nasal, produciendo congestión nasal y síntomas respiratorios altos. Sin embargo, en un 30 – 40% de los pacientes infectados, existirá además afectación
    del tracto respiratorio inferior. Las características clínicas de la bronquiolitis son principalmente una consecuencia de la obstrucción de la vía aérea pequeña y la disminución de la compliance pulmonar. El virus infecta las células epiteliales en
    la vía aérea e induce una reacción inflamatoria que conduce a la disfunción ciliar y muerte celular. La acumulación de detritos celulares, edema y mucus conducen a grados variables de obstrucción, atelectasias y alteración de la relación ventilación
    / perfusión causando hipoxemia y las manifestaciones clínicas clásicas. </p>
<p>El broncoespasmo secundario a la contracción del musculo liso es un componente fisiopatológico de menor importancia, lo que puede explicar el efecto limitado de los broncodilatadores en el manejo sintomático. Adicionalmente, la inflamación tisular es
    mínima, siendo el principal origen de los síntomas la acumulación de detritos en la vía aérea pequeña, lo que probablemente explica el por qué los corticoesteroides y epinefrina proveen escaso a nulo beneficio en esta patología.</p>
<h5>Diagnóstico</h5>
<p>El diagnóstico y evaluación de la severidad de la bronquiolitis es eminentemente clínica. Aspectos importantes en la historia son: la evaluación del impacto en la ingesta oral (con objeto de mantener una adecuada hidratación), grado de compromiso del
    sensorio, existencia de factores de riesgo, entre otros. La mayoría de los pacientes con síntomas leves pueden ser dados de alta con intervención mínima o sin necesidad de esta desde los servicios de urgencia.</p>
<p>Los criterios de hospitalización propuestos por el Comité de Medicina de Emergencias de la AAP el 2016 son: Historia de apnea, taquipnea mayor a 60/min y signos de dificultad respiratoria severa que no responden a manejo inicial en el servicio de urgencia,
    compromiso de conciencia, saturometría menor a 92% y rechazo alimentario (figura 1). Estos pueden variar y estar sujetos a las condiciones sociales o habilidades parentales.</p>
<h5>Clínica</h5>
<p>Las manifestaciones iniciales se relacionan principalmente con la afectación de la vía aérea alta: rinorrea, congestión nasal y estornudos. Tras unos pocos días, los síntomas cambian hacia la vía aérea inferior, causando un incremento de la tos y dificultad
    respiratoria. Los pacientes pueden presentar crépitos, espiración prolongada, roncus y/o sibilancias al examen físico, así como retracciones costales de grado variable, aleteo nasal y sacudidas rítmicas de la cabeza en los casos de distress respiratorio
    severo. </p>
<p>Las apneas pueden ser el único síntoma en la presentación inicial de la bronquiolitis (especialmente
    < 2 meses) y pueden ocurrir en lactantes menores de 6 meses en un porcentaje variable desde < 1% al 24% de los casos, independiente de su etiología. Los padres la refieren como pausas o respiración irregular. Factores de riesgo de apnea a considerar son:
        EGC menor de 48 semanas, bajo peso al nacer, taqui/bradipnea y desaturación al momento del ingreso. La disminución de la ingesta oral puede ser consecuencia de la obstrucción nasal, dificultad respiratoria o taquipnea. Las manifestaciones clínicas
        son habitualmente leves y tienen un peak entre el 3 a 5 día de la enfermedad. Posteriormente, las manifestaciones tienden a mejorar hacia el 5 a 6 día, con una media aproximada de 12 días. Es infrecuente el empeoramiento clínico tras una mejoría inicial.</p>
        <p>Se han descrito a la fecha 32 scores o instrumentos para determinar la severidad de la bronquiolitis o necesidad de hospitalización, muchos de utilidad indeterminada. En consideración a literatura reportada y su extensión en la práctica clínica
            local, esta guía clínica sugiere el uso del Score de Tal Modificado para la evaluación de severidad en pacientes hospitalizados por bronquiolitis (Tabla 1).</p>

        <div class="table-responsive">
            <table class="table table-hover table-striped bg-light rounded">
                <thead>
                    <tr>
                        <th colspan="5" class="text-center">
                            Tabla 1. Score de Tal Modificado
                        </th>
                    </tr>

                    <tr>
                        <th scope="col">Score</th>
                        <th scope="col">Frecuencia respiratoria
                            <6 meses>6 meses
                        </th>
                        <th scope="col">Sibilancias</th>
                        <th scope="col">Saturación ambiental</th>
                        <th scope="col">Uso musculatura accesoria</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>0</td>
                        <td>≤ 40 ≤30</td>
                        <td>No</td>
                        <td>≥ 95</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>41-55 31-45</td>
                        <td>Espiratorias</td>
                        <td>92 – 94%</td>
                        <td>Intercostal +</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>56-70 46-60</td>
                        <td>Espiratorias e Inspiratorias con fonendo</td>
                        <td>90 – 91%</td>
                        <td>Intercostal ++</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>≥71 ≥61</td>
                        <td>Espiratorias e inspiratorias sin fonendo</td>
                        <td>≤ 89%</td>
                        <td>Moderada a marcada retracción intercostal + cabeceo o descenso inspiratorio traqueal</td>
                    </tr>
                    <th colspan="5" class="text-center"> Severidad: Leve: ≤ 5 / Moderado: 6 – 10 / Severo: ≥ 11</th>
                </tbody>



            </table>
        </div>
        <h5>Laboratorio e Imágenes</h5>
        <p>La AAP no recomienda el uso rutinario de pruebas de detección virológicas, excepto en casos de prematuros en profilaxis con palivizumab (discontinuar terapia). Los test virales no son capaces de predecir el pronóstico a corto plazo. Puede considerarse
            su utilización en pacientes hospitalizados con propósito de cohorte.</p>
        <p>La evidencia disponible no apoya el uso de radiografía de tórax para el diagnóstico de bronquiolitis en aquellos con buen estado general y su utilización se asocia a aumento de prescripción de antibióticos. Los principales hallazgos son: signos
            de hiperinsuflación, atelectasia y en un porcentaje importante la radiografía de tórax será normal (sin correlación con la severidad). Debe considerarse en casos de dificultad respiratoria severa que requerirán ingreso hospitalario, signos
            clínicos de complicación (neumonía, neumotórax, atelectasia) o estudio de diagnóstico diferencial probable (miocarditis, insuficiencia cardiaca congestiva, etc.).</p>
        <p>Está bien descrita en la literatura la asociación entre bronquiolitis por VRS e infección del tracto urinario concomitante (3,3% del total de casos), por lo que su estudio debe considerarse en aquellos pacientes persistentemente febriles y que
            presentan síntomas respiratorios leves.</p>
        <p>Exámenes generales como hemograma o hemocultivos no son rutinarios y deben solicitarse si el diagnóstico es incierto o ante la sospecha de una patología concomitante (ejemplo: fiebre alta, menores de 1 mes). </p>
        <h5>Diagnóstico diferencial</h5>
        <p>Son potenciales diagnósticos diferenciales: ERGE, malformaciones congénitas, asma, aspiración de cuerpo extraño, etc.</p>
        <h5>Manejo</h5>
        <p>El tratamiento es principalmente de soporte e incluye principalmente: aspiración nasal, oxigeno suplementario e hidratación.</p>
        <p><b>Hidratación:</b> Recién nacidos y lactantes menores se encuentran en mayor riesgo de pérdidas insensible de fluidos por medio de la taquipnea, fiebre, incremento de las secreciones o una escasa ingesta oral por congestión nasal, decaimiento
            y dificultad respiratoria. El uso de sonda nasogástrica es una alternativa aceptable al uso de fluidos endovenosos (isotónicos como mantención) en los casos necesarios (imposibilidad de tolerar ingesta oral ≥ al 50% del total diario por incremento
            del trabajo respiratorio) y es mejor tolerado, sin modificar la estadía hospitalaria. Si se utiliza la vía EV, considerar el monitoreo de ELP por riesgo descrito de hiponatremia en bronquiolitis severa.</p>
        <p><b>Aseo nasal superficial:</b> Provee alivio al distress respiratorio y taquipnea, mejora temporalmente los síntomas respiratorios y su aplicación es capaz de aumentar los niveles saturación de oxígeno. Puede ser aplicada tanto por el personal
            de salud como por los propios padres. Especialmente útil ante intervalos de aplicación menores a 4 horas.</p>
        <p><b>Oxígeno suplementario:</b> El punto de corte para el inicio de oxígeno suplementario no ha sido determinado en forma global. La existencia de puntos arbitrarios de corte para el inicio de la oxigenoterapia promueve el incremento en el número
            de hospitalizaciones y el uso inadecuado de recursos si es utilizado como criterio único de severidad. Estudios prospectivos han determinado que un objetivo de saturación ≥ 90% es seguro en lactantes (recomendación AAP). Por tanto, se recomienda
            la utilización de oxígeno suplementario en pacientes con saturometría menor a 90% en vigilia. No se recomienda la oximetría continua en aquellos pacientes sin requerimientos de oxígeno suplementario.</p>
        <h5>Kinesioterapia respiratoria</h5>
        <p>La revisión sistemática Cochrane 2016 evaluó diferentes técnicas de KNT-R en menores de 2 años con bronquiolitis, incluyendo 12 ensayos clínicos con 1249 participantes totales. En dicha revisión (en 2 estudios) las técnicas de bajo flujo (compresión
            de la caja torácica y cavidad abdominal gradual y gentil desde la fase media de espiración hasta el final de la exhalación) mostraron un alivio de síntomas a corto plazo (aunque transitorio) y disminución de los requerimientos de oxígeno suplementario
            en niños con bronquiolitis moderada, sin cambios en la estadía hospitalaria, uso de broncodilatadores o corticoides. No se mencionaron efectos adversos severos.</p>
        <h5>Broncodilatadores</h5>
        <p>Múltiples revisiones sistemáticas y meta – análisis no apoyan el manejo de la bronquiolitis con broncodilatadores como el salbutamol, epinefrina o anticolinérgicos. Pese a ello, las guías clínicas británicas proponen, en consideración a los distintos
            fenotipos clínicos de la enfermedad que, ante la dificultad de diferenciar entre las sibilancias propias de la bronquiolitis de aquellas inducidas por asma o virus en niños mayores, un paciente con clínica predominantemente sibilante (sin
            crépitos), debe considerarse la posibilidad de una eventual respuesta con el uso de salbutamol, en especial si hay antecedentes personales o familiares de atopía. Los riesgos y beneficios de los B2 deben ser sopesados con sus efectos adversos
            como temblor, taquicardia e hipoxemia.</p>
        <h5>Corticoides sistémicos</h5>
        <p>El uso de corticoides sistémicos en la bronquiolitis aguda no ha demostrado ser efectiva en prácticamente toda la literatura reportada, por lo que en la mayoría de las guías clínicas su utilización no está recomendada. Un curso corto de corticoides
            puede ser indicado en una minoría de pacientes con clínica predominantemente sibilante asociado a distress respiratorio moderado a severo, especialmente en los que la terapia broncodilatadora ha demostrado marcada mejoría.</p>
        <h5>Suero Salino Hipertónico</h5>
        <p>La evidencia respecto a su beneficio en pacientes hospitalizados no es clara. Meta – análisis realizados con trabajos publicados previos al 2013 y evidencia moderada, muestran una reducción significativa en el número de días de hospitalización
            (-0,45 días = +- 10 horas), con un alto perfil de seguridad. Estudios europeos multicéntricos posteriores, no han demostrado beneficio en su aplicación, aunque con deficiencias metodológicas con respecto a sus predecesores. En consideración
            a su inocuidad, puede considerarse en el manejo del paciente hospitalizado.</p>
        <p><b>Cánula nasal de alto flujo (CNAF):</b> El uso de CNAF tiene múltiples beneficios fisiológicos: remoción del CO2 desde el espacio muerto fisiológico, humidificación y calentamiento del gas inhalado, reducción del trabajo respiratorio y la creación
            de presión positiva en la vía aérea. Una revisión sistemática reciente (2019) evaluó la literatura disponible que comparará el uso de CNAF vs cánula simple. La evidencia demuestra que el uso como primera línea de oxigenoterapia por CNAF es
            una modalidad de tratamiento segura que reduce el trabajo respiratorio y la necesidad de escalamiento en los cuidados vs la cánula nasal simple (12 vs 23%, p
            <0,001), sin modificación en duración de la estadía hospitalaria u oxigenoterapia. Así mismo, muestra un importante rol como terapia de rescate en hasta un 60% de aquellos que no responden a oxigenoterapia estándar por cánula simple.</p>
                <p><b>Antibióticos:</b> Los antibióticos no están recomendados en el tratamiento de la bronquiolitis a menos que se detecte o sospeche una infección bacteriana concomitante como una OMA o ITU.</p>
                <p><b>Ventilación no invasiva:</b> El CPAP es un modelo de soporte respiratorio no invasivo que mejora la resistencia de la vía aérea, reduciendo el impacto de las atelectasias mediante la distensión del diámetro del lumen bronquial. Aquellos
                    pacientes con bronquiolitis severa, que empeoran pese a la administración de oxígeno pueden beneficiarse del CPAP nasal o facial. El CPAP ha demostrado ser más efectivo que la CNAF en reducir la FR y los requerimientos de oxígeno,
                    aunque similar resultado en términos de días de hospitalización y referencia a UCIP (Estudio TRAMONTATE). Una revisión Cochrane reciente (2019) mostró evidencia limitada, con aparente beneficio en la reducción de la frecuencia respiratoria,
                    sin cambios en estadía hospitalaria versus terapia estándar.</p>
                <h5>Otras consideraciones</h5>
                <ul>
                    <li>Todas las personas deben desinfectar sus manos previo y posterior al contacto con un paciente con bronquiolitis, tras el contacto con objetos inanimados en vecindad directa al paciente y tras el retiro de guantes.</li>
                    <li>Todas las personas deben utilizar soluciones con base en alcohol para la descontaminación de manos cuando se encuentren al cuidado de niños con bronquiolitis. Si no existen soluciones con base en alcohol, deben lavarse las manos con
                        agua y jabón.</li>
                    <li>El equipo de salud debe aconsejar a los cuidadores respecto de las consecuencias de la exposición del lactante al tabaco y el cese del hábito tabáquico</li>
                    <li>La consecuencia más frecuente de la bronquiolitis es el desarrollo de hiperreactividad de la vía aérea o asma a edades posteriores. Diferentes reportes estiman el riesgo entre un 20 – 60%, siendo mayor en los casos que requieren hospitalización
                        y en menores de 6 meses.</li>
                </ul>
                <h5>Bibliografía</h5>
                <ol>
                    <li>1. Kou M., Hwang V., Ramkellawan N. Bronchiolitis: From practice guideline to clinical practice. Emerg Med Clin North Am. 2018 May;36(2):275-286</li>
                    <li>2. Silver A. Bronchiolitis. Pediatrics in Review. 2019;40;586</li>
                    <li>3. Kyler KE., McCulloh RJ. Current Concepts in the evaluation and management of bronchiolitis. Infect Dis Clin North Am. 2018 Mar;32(1):35-45</li>
                    <li>4. Franklin D., Fraser JF., Schibler A. Respiratory support for infant with bronchiolitis, a narrative review of the literature. Paediatr Respir Rev. 2019 Apr;30:16-26</li>
                    <li>5. Rodriguez-Martines CE., Castro-Rodriguez JA, Nino G., Midulla F. The impact of viral bronchiolitis phenotyping: Is it time to consider phenotype-specific responses to individualize pharmacological management. Paediatr Respir Rev.
                        2019 Apr 12. pii: S1526-0542(18)30163-5</li>
                    <li>6. Ghazaly M., Nadel S. Overview of prevention and management of acute bronchiolitis due to respiratory syncytial virus. Expert Rev Anti Infect Ther. 2018 Dec;16(12):913-928</li>
                    <li>7. Jaconelli T., Rajah F. BET1 – High-Flow nasal oxygen therapy in bronchiolitis. Emerg Med J. 2019 apr;36(4):248-249.</li>
                    <li>8. Rodriguez-Martinez CE., Sossa-Briceño MP., Nino G. Systematic review of instrument aimed at evaluating the severity of bronchiolitis. Pediatr Respir Rev. 2018. Jan;25:43-47</li>
                    <li>9. Roodsar G, Zehtabchi S. Nebulized Hypertonic Saline for Bronchiolitis. Am Fam Physician. 2018 Jul 1;98(1)23-34.</li>
                    <li>10. Jain S., Stack A., Baskin M., Chapman L. et al. AAP Section on Emergency Medicine Committee on Quality Transformation Clinical Algorithm for Bronchiolitis in the Emergency Department Setting. AAP – 2016.</li>
                    <li>11. Zhang L., Mendoza-Sassi RA., Wainwright C., Klassen TP. Nebulised hypertonic saline solution for acute bronchiolitis in infants. Cochrane Database Syst Rev. 2017 Dec 21;12:CD006458</li>
                    <li>12. Jat K., Mathew J. Continuous positive airway pressure (CPAP) for acute bronchiolitis in children. Cochrane Database Syst Rev. 2019 Jan 31;1:CD010473</li>
                    <li>13. Roque i Figuls M., Giné-Garriga M., Granados R., Perrota C., et al. Chest physiotherapy for acute bronchiolitis in paediatric patients between 0 and 24 months old. Cochrane Database Syst Rev. 2016 Feb 1;2:CD004873</li>
                    <li>14. Golan-Tripto. Modified Tal Score: Validated score prediction for bronchiolitis severity. Pediatr Pulmonol. 2018 Jun;53(6):796-801</li>
                </ol>
                <h4>Enfrentamiento inicial de la Bronquiolitis en el Servicio de Urgencia (menores de 12 meses), AAP – 2016</h4>
                <div class="row">

                    <div class="border border-3 bg-light p-3 col-12">
                        <h5>Criterios de inclusíon</h5>
                        <ul>
                            <li>Entre 1 a 12 meses de edad</li>
                            <li>Síntomas y signos sugerentes de bronquiolitis (rinitis, tos)</li>
                            <li>Progreso a manifestaciones de compromiso respiratorio bajo (sibilancias, crépitos, taquipnea) que pueden producir dificultad respiratoria o alimentaria</li>
                        </ul>
                    </div>
                    <div class="border border-3 bg-light p-3  col-md-6 col-sm-12">
                        <h5>Evaluación inicial</h5>
                        <ul>
                            <li>Anamnesis y examen físico</li>
                            <li>Evaluación de signos vitales, incluyendo saturometría</li>
                            <li>Evaluar estado de hidratación</li>
                        </ul>
                    </div>
                    <div class="border border-3 bg-light p-3  col-md-6 col-sm-12">
                        <ul>
                            <li>No se recomienda el uso de radiografía de tórax, ni laboratorio en sangre u orina</li>
                            <li>Considerar exámenes si presentación severa, atípica o sospecha de cardiopatía </li>
                        </ul>
                    </div>
                    <div class="border border-3 bg-light p-3  col-12">
                        <h5>Evaluar severidad</h5>
                        <ul>
                            <li> Cualquier historia de apnea</li>
                            <li> Frecuencia respiratoria</li>
                            <li> Dificultad respiratoria</li>
                            <li> Compromiso de conciencia</li>
                            <li> Oximetría de pulso</li>
                            <li> Capacidad de alimentarse</li>
                        </ul>
                    </div>
                    <div class="border border-3 bg-light p-3  col-12">
                        <h5>Terapias de primera línea</h5>
                        <ul>
                            <li>Oxigenoterapia para saturometría > 90%</li>
                            <li>Aseo nasal (si hay signos de obstrucción nasal)</li>
                            <li>Optimizar hidratación (EV o SNG)</li>
                            <li>Evaluar uso de B2 agonistas de acción corta en IMD si existe IPA (+) o clínica predominantemente sibilante</li>
                        </ul>
                    </div>
                    <div class="border border-3 bg-light p-3  col-12">
                        <h5>Destinación</h5>
                        <ul>
                            <li><b>Condiciones de alta desde SU:</b> Saturometría ≥ 90%, sin dificultad respiratoria o dificultad leve, capacidad de mantener una adecuada hidratación y posibilidad de un adecuado seguimiento
                            </li>
                        </ul>
                    </div>
                </div>
                IPA: Índice predictor de asma