<h2>Insuficiencia cardiaca en pediatría</h2>
<h5>Dr. Alejandro Álvarez Jara</h5>
<hr>
<h5>Definición</h5>
<p>La insuficiencia cardiaca (IC) es el estado fisiopatológico en el cual el corazón es incapaz de mantener una circulación adecuada para las necesidades metabólicas del organismo, que en la infancia también incluyen el crecimiento y el desarrollo. Es importante
    subrayar que en los niños lo más frecuente es que no se deba a una falla de la contractilidad miocárdica. </p>
<h5>Epidemiología</h5>
<p>En la infancia la epidemiología no está bien definida y el abanico de causas es considerablemente muy amplio, en el que destaca la presencia de las cardiopatías congénitas. En los menores de 19 años las cardiopatías congénitas, operadas y no operadas
    son responsables de 61 a 82% de los casos de insuficiencia cardiaca; a diferencia del grupo adulto, en el que las cardiopatías congénitas explican solo 1%. Un grupo importante de enfermos pediátricos presenta IC después de la cirugía cardiaca correctiva.
</p>
<h5>Etiología y fisiopatología general: </h5>
<p>La etiología de la IC es muy variada en pediatría, esto es debido a la diversidad de causas y éstas son distintas según la edad del paciente.
</p>
<h5>Etimología más frecuentes de IC según edad de presentación</h5>

<div class="table-responsive">
    <table class="table table-hover table-striped bg-light rounded">
        <thead>
            <tr>
                <th>
                    Recién nacido
                </th>
                <th>
                    Primera semana
                </th>
                <th>
                    1° a 3° mes
                </th>
                <th>
                    3 a 6 meses
                </th>
                <th>
                    Edad preescolar y escolar
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul>
                        <li>Insuficiencia tricuspídea (Enfermedad de Ebstein)</li>
                        <li>Insuficiencia pulmonar</li>
                        <li>Hipoplasia del ventrículo izquierdo</li>
                        <li>Fístula arterioso venosa</li>
                        <li>Asfixia neonatal</li>
                        <li>Hipertensión pulmonar</li>
                        <li>Transfusión masiva(gemelos)</li>
                        <li>Hydrops fetal</li>
                        <li>Taquicardia paroxísitica supraventricular</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Hipoplasia del ventrículo izquierdo</li>
                        <li>Atresia aórtica o estenosis aórtica crítica</li>
                        <li>Transposición de las grandes arterias</li>
                        <li>Coartación aórtica</li>
                        <li>Drenaje venoso anómalo pulmonar total</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Coartación aórtica más ductus arterioso persistente.</li>
                        <li>Comunicación interventricular</li>
                        <li>Ductus asociado o no a otros shunt de I-D</li>
                        <li>Con similar frecuencia: canal AV, taquicardia paroxística, drenaje venoso pulmonar anómalo, ventrículo único, tronco arterioso y cardiopatías complejas</li>

                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Comunicación interventricular</li>
                        <li>Shunt de Izquierda–Derecha: ductus arterioso persistente, canal atrioventricular, doble salida de ventrículo derecho, etc.</li>
                        <li>Origen anómalo de la arteria coronaria izquierda en la arteria pulmonar</li>
                        <li>Miocarditis</li>

                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Glomerulonefritis aguda</li>
                        <li>Enfermedad de Kawasaki</li>
                        <li>Endocarditis infecciosa</li>
                        <li>Miocardiopatías relacionadas con distrofia muscular y ataxia de Friedreich</li>
                        <li>Cardiopatías congénitas complejas operadas (Tetralogía de Fallot, TGA, Ventrículo único, etc.)</li>
                        <li>Miocardiopatías por doxorubicina</li>
                        <li>Miocardiopatía dilatada</li>
                        <li>Enfermedad reumática</li>

                    </ul>
                </td>
            </tr>

        </tbody>
    </table>
</div>
<p>Además de esta gran diversidad de etiología, el corazón en la edad pediátrica puede ser afectado por otras causas que pueden originar IC que a continuación mencionamos:</p>
<ol>
    <li>Alteraciones metabólicas: hipoxia y acidosis graves, hipoglicemia e hipocalcemia.</li>
    <li>Endocrinopatías como el hipertiroidismo.</li>
    <li>Taquicardia supraventricular y bloqueo AV completo</li>
    <li>Anemia grave</li>
    <li>Displasia broncopulmonar</li>
    <li>Deficiencia primaria de carnitina</li>
    <li>La insuficiencia cardiopulmonar (cor-pulmonar)</li>
    <li>Hipertensión arterial</li>

</ol>
<h5>
    Fisiopatología general:
</h5>
<p>
    IC se define como la incapacidad del corazón para mantener un débito sanguíneo adecuado a los requerimientos del organismo. El débito cardiaco depende de:
</p>
<ol>
    <li>Precarga: volumen cardíaco diastólico final (llene diastólico) depende del retorno venoso y distensibilidad cardiaca.</li>
    <li>Postcarga: oposición al vaciamiento ventricular (presión aórtica) depende de la resistencia arteriolar.</li>
    <li>Contractilidad: depende de la fibra miocárdica (calcio).</li>
    <li>Frecuencia cardiaca (FC): FC x volumen sistólico= débito cardiaco (volumen expulsado por minuto).</li>

</ol>
<p>
    El gasto cardiaco (GC) o débito cardiaco, depende del volumen sistólico (VS) y de la frecuencia cardiaca (FC).
</p>
<p class="text-center">GC= VS x FC</p>
<p>
    A su vez, el volumen sistólico depende de la precarga, postcarga y de la contractilidad.
    <br> La frecuencia cardiaca determina la regularidad de la contracción miocárdica y el tiempo de llenado diastólico.
    <br> La variación de alguno de estos factores altera el GC, poniendo en juego los mecanismos de compensación, que ayudan a mantener un debito adecuado, pero que con el tiempo contribuyen a deteriorar el miocardio y a perpetuar la IC. Los mecanismos
    de compensación se activan al detectarse la disminución del GC por los receptores de presión y de volumen.
</p>

<h5>Mecanismo de compensación:</h5>
<p>
    <b>Estimulación adrenérgica:</b> La liberación de catecolaminas produce taquicardia para compensar la disminución del débito con aumento de la frecuencia contráctil; también mejora la contractilidad en sí. Inicialmente es beneficiosa, pero a la larga
    se acorta el tiempo de llenado diastólico y aumentan los requerimientos del oxígeno y nutrientes cardiacos. La estimulación simpática produce redistribución del flujo, derivándolo a los parénquimas más nobles, disminuyendo el flujo renal y estimulando
    la retención hídrica; también produce vasoconstricción, para mantener una presión arterial adecuada. El resultado de todo lo anterior es aumento de la postcarga y de los requerimientos del miocardio, llevando todo esto a una disminución de la eficiencia
    cardíaca.
</p>
<p>
    <b>Dilatación ventricular:</b> Se origina por la retención hídrica, la cual resulta de la disminución del flujo renal, que ocasiona aumento de la reabsorción a nivel tubular proximal y, además, activa el eje renina-angiotensina-aldosterona. Lo anterior
    produce un aumento del volumen en el lado venoso y, por lo tanto, mayor retorno a los ventrículos, produciendo dilatación. Inicialmente se utiliza el mecanismo enunciado por la ley de Starling, generándose una mejor contracción a mayor estiramiento
    de la fibra; sin embargo, la sobredistensión deteriora la contractilidad al separar los filamentos de actina y miosina.
</p>
<p>
    <b>Hipertrofia cardíaca:</b> Es la respuesta del tejido miocárdico al estar sometido a sobrecarga de volumen y presión por periodos prolongados, su limitación reside en que el crecimiento de la masa miocárdica significa mayores necesidades de oxígeno
    y nutrientes, generando una fuerza contráctil de mala calidad.
</p>
<p>
    Los mecanismos anteriormente enunciados son capaces de mantener un gasto cardiaco adecuado por periodos limitados, dependiendo del factor causal y de la velocidad de instalación de éste; éstos constituyen lo que se ha denominado capacidad de reserva cardíaca.
    El hallazgo de mecanismo compensatorios, aun sin signos clínicos de IC, nos obliga a tomar una conducta más activa para determinar causas y eventuales tratamientos, pues esta reserva es limitada en los pacientes pediátricos.
</p>
<h5>Diagnóstico diferencial:</h5>
<ol>
    <li>Sepsis</li>
    <li>Neumonía</li>
    <li>Anemia</li>
    <li>Insuficiencia Renal Aguda y Crónica,</li>
    <li>Hipertiroidismo, etc.</li>

</ol>
<p>No olvidar que estas patologías pueden llevar a un niño a IC de no ser tratadas a tiempo.</p>
<h5>
    Diagnóstico (Clínica / Laboratorio)
</h5>
<h5>
    Clínica:
</h5>
<p>Debemos tener claro que no existe un signo ni menos aún un estudio que sea específico para el diagnóstico de IC. Ésta debe sospecharse con la clínica e historia de antecedentes desde la vida fetal hasta la adolescencia. El diagnóstico de la IC es fundamentalmente
    clínico. </p>
<ul>
    <li>
        <b>Sospecha:</b><br> Dificultad para la alimentación de inicio reciente, taquipnea, incremento de peso deficiente y sudoración fría en la frente sugieren IC en los lactantes. <br> Los niños de mayor edad pueden presentar disnea (sobre todo cuando
        realizan actividades), tendencia a la fatiga y edema palpebral o de los pies.
    </li>
    <li>
        <b>Específico:</b><br> no siendo tan específicos, pero si son más comunes: Taquicardia, ritmo de galope y pulsos débiles y filiformes. Soplo cardiaco. Arritmia. Cianosis, tos y fatigabilidad, oliguria. <br> La cardiomegalia casi siempre está presente.
        Sudoración, piel fría y húmeda.<br> Taquipnea, la disnea de esfuerzo (equivalente a la dificultad de alimentarse en los lactantes. Ortopnea en niños mayores. A veces son audibles sibilancias, estertores y crepitantes pulmonares. Hepatomegalia,
        el no encontrarla no descarta ICC Parpados abotagados en los lactantes.<br> Distención de las venas del cuello y el edema de tobillo, que son comunes en adultos no se presenta en lactantes.

    </li>
</ul>
<h5>
    Clasificación de la IC
</h5>
<p>New York Heart Association.</p>
<p>Clase I: sin limitación a la actividad física ordinaria. <br> Clase II: ligera limitación (menos de 10 cuadras).<br> Clase III: marcada limitación (1 cuadra).<br> Clase IV: incapacidad severa para cualquier actividad físico. Síntomas aun en reposo.
</p>
<h5>Clasificación de Ross modificada de insuficiencia cardiaca en niños.</h5>
<p>Clase I: Asintomático <br> Clase II: Taquipnea leve o sudoración con la comida en lactantes. Disnea con el ejercicio en niños mayores.<br> Clase III: Marcada taquipnea o sudoración con la comida en lactantes. Tiempo de tomas prolongado con escasa ganancia
    ponderal. Marcada disnea con el ejercicio en niños mayores. <br> Clase IV: Síntomas en reposo: taquipnea, sudoración, retracciones.
</p>

<h5>Laboratorio:</h5>
<p><b>Radiografía de tórax:</b> en busca de cardiomegalia. La falta de cardiomegalia casi descarta el diagnostico IC. La única excepción a esta regla es cuando se obstruye el retorno venoso pulmonar y en este caso se observa edema o congestión parénquima
    pulmonar.
</p>
<p><b>Electrocardiograma:</b> el ECG ayuda a determinar el tipo de cardiopatía o arritmia que ocasiona la insuficiencia cardiaca pero no son de utilidad para determinar si existe IC.</p>
<p><b>Exámenes de laboratorio:</b> gasometría, hemograma y bioquímica completa. La gasometría nos informará sobre el grado de saturación de oxígeno, la presión parcial de dióxido de carbono (pCO<sub>2</sub>) y el equilibrio ácido-base. Interesa saber la
    hemoglobina del paciente, para descartar anemias, sobre todo en los pacientes cianóticos. Puede haber hiponatremia por retención de líquidos, e hipopotasemia por el tratamiento diurético. </p>
<p><b>Ecocardiograma:</b> define aspectos anatómicos y funcionales del corazón. Es de realización obligatoria, no sólo para la identificación de las lesiones anatómicas, sino también para la valoración cuantitativa y cualitativa de la función sistólica y
    diastólica en el momento del diagnóstico y durante su evolución. </p>
<p><b>Pulsioximetría:</b> es un método de gran ayuda para valorar la saturación de oxígeno y su evolución, lo cual nos ayuda a la hora de tomar decisiones sobre el tratamiento médico o quirúrgico. </p>
<p><b>Test de hiperoxia:</b> administrar oxígeno al 100% en el periodo neonatal inmediato ayuda a discernir entre las cianosis de origen cardiaco y las de otro origen (generalmente, respiratorio). </p>
<p><b>Cateterismo cardiaco:</b> es una técnica invasiva utilizada cada vez con menor frecuencia para el diagnóstico de IC.</p>
<p><b>Niveles de péptido natriurético cerebral (BNP) y pro-BNP N-terminal:</b> las recomendaciones para el adulto no son generalizables para los niños. En los niños, el tipo de fallo ventricular, la causa cardiaca subyacente, la edad, el sexo y el método
    de medida afectan a estos valores de referencia. Aunque se puede distinguir entre causas pulmonares y cardiacas de distrés respiratorio de neonatos y niños, el papel del BNP y pro-BNP en el diagnóstico y tratamiento de niños con IC permanece controvertido.
</p>
<h5>Tratamiento:</h5>
<h5>Inicial:</h5>
<ul>
    <li>Reposo relativo en incapacidades I y II. Reposo absoluto, en incapacidades III y IV.</li>
    <li>Posición semisentada y uso de ropa suelta.</li>
    <li>Control de la temperatura corporal con medios físico o medicamentos.</li>
    <li>Administración de oxigeno de preferencia humidificado y calentado.</li>
    <li>Vía venosa permeable periférica y central.</li>
    <li>Colocación de sonda: nasogástrica, sonda vesical o colector.</li>
    <li>Drogas: Inotrópicas, diuréticas y vasodilatadores</li>
    <li>Asistencia respiratoria mecánica</li>
    <li>Diálisis: cuando existe falla renal asociada</li>
    <li>Manejo de agua y sales: restricción hídrica y balance negativo, peso diario, dieta hipo sódica estricta.</li>
    <li>Tratamiento de la infección y anemia. En cardiopatía cianótica mantener hematocrito sobre 35%. Transfusión de glóbulos rojos desplasmatizados (10ml/kg/ dosis).</li>

</ul>
<h5>Completo:</h5>
<p>Si es factible tratar la causa, ejemplo cardiopatías congénitas operables, tratamiento quirúrgico curativo a paliativo. En IC originada por bloqueo AV completo en tratamiento consistirá en implante de marcapaso.</p>
<h5>Insuficiencia cardiaca aguda</h5>
<p>No es frecuente en el niño, aunque puede presentarse al inicio de una miocarditis o en el postoperatorio de las CC. <br> El tratamiento inicial consiste en mantener la permeabilidad de la vía aérea, con intubación endotraqueal si es necesaria.<br> Estabilidad
    hemodinámica con la administración de dopamina, diuréticos, calcio y bicarbonato. <br> La adrenalina es una alternativa a la dopamina. Los inhibidores de la fosfodiesterasa, como la milrinona son muy útiles. (Anexo nº 1) <br> Se trata de la oxigenación
    con membrana extracorpórea (ECMO), los dispositivos de asistencia ventricular externa (por ejemplo, Berlin Heart®) o la resincronización auriculoventricular (AV).
</p>
<h5>Tratamiento farmacológico de la IC crónica. </h5>
<ol>


    <li>
        <b>Inhibidores de la enzima de conversión de la angiotensina </b><br> Las guías de la ISHLT recomiendan el uso de IECA en los pacientes con grado moderado o severo de disfunción del VI independientemente de los síntomas.<br> Los IECA deben utilizarse
        con precaución en neonatos y lactantes pequeños por la posibilidad de insuficiencia renal y deben asociarse a diuréticos en pacientes con tendencia a retención de líquidos. <br> Están contraindicados en casos de hipotensión severa, estenosis aórtica
        severa, estenosis arterial renal, insuficiencia renal e hiperkaliemia.
        <ul>
            <li>
                <b>Captopril:</b> Se administra en forma oral y se absorbe mejor con el estómago vacío. <br> Dosis: 0,5-6 mg/kg/día cada 8 horas. <br> Efectos secundarios: hipotensión e hiperkaliemia.

            </li>
            <li>
                <b> Enalapril:</b> Tiene un inicio de acción más lento y una vida media más larga. <br> Dosis: 0,1-1 mg/kg/día en 1 o 2 dosis.<br> Efectos secundarios: hipotensión y tendencia a la hipopotasemia, particularmente si se usa asociado a un
                diurético de asa.

            </li>
        </ul>
    </li>
    <li>
        <b>Diuréticos </b> <br> Diuréticos de asa
        <ul>
            <li>
                <b>Furosemida:</b> puede administrarse por vía oral, intramuscular (i.m.) o intravenosa (i.v.) Dosis: 1-4 mg/kg/día cada 6-12-24 horas. Por vía i.m. o i.v. se puede administrar hasta 1-2 mg/kg/dosis cada 6-8-12 horas. <br> Efectos secundarios:
                hiponatremia, hipocloremia, hipokaliemia y alcalosis metabólica.

            </li>
            <li>
                Tiazidas <br>
                <b>Hidroclorotiazida.</b> Dosis: 1-2 mg/kg/dosis cada 12-24 horas. <br> Efectos secundarios: hipokaliemia, hiperuricemia e hipercalcemia.
            </li>
            <li>
                Inhibidores de la aldosterona <br>
                <b>Espironolactona(aldactona)</b> dosis:1-3 mg/kg/día por vía oral puede fraccionarse 1-2 veces al día.
            </li>
        </ul>
    </li>
    <li>
        <b>Digitálico</b> <br> Digoxina <br>
        <p>
            Actualmente está indicada sólo en los casos en que el tratamiento con diuréticos e IECA no haya resultado efectivo. <br> Dosis oral total de impregnación <br> Prematuros es de 0,02 mg/kg.<br> Recién nacidos de término de 0,03 mg/kg.<br> Lactantes
            y niños 0,04-0,05 mg/kg.<br> Adolescentes 1 mg/kg. <br> Si se usa la vía i.m. o i.v., se administrarán las 2/3 partes de la dosis oral. Una vez calculada la dosis total de impregnación, se administrará al inicio la mitad de la dosis; a las
            8 horas, la cuarta parte de la dosis total; y a las 16 horas del inicio, la cuarta parte restante de la dosis total. Así se completa la impregnación. <br> Posteriormente se pasará a la dosis de mantenimiento, la octava parte de la dosis total
            de impregnación repetida cada 12 horas. <br> Si la digitalización no se considera urgente, se puede prescindir de la dosis de impregnación y comenzar con la dosis de mantenimiento y llegar de esta forma al efecto digitálico en 4-5 días. Los
            niveles terapéuticos son de 2,8 ± 1,9 ng/mL en los lactantes, y de 1,3 ± 0,4 ng/mL en los niños mayores. <br> Algunos medicamentos administrados conjuntamente con la digoxina, como el verapamil, la amiodarona, la propafenona, la espironolactona
            y el carvedilol, pueden aumentar su toxicidad. En estos casos se deberá reducir la digoxina en al menos un 25%. <br>
        </p>
    </li>
    <li>
        <b>
        Betabloqueantes 
       </b><br> El mecanismo exacto a través del cual los betabloqueantes mejoran los síntomas, la función ventricular y la supervivencia de los pacientes con IC no es enteramente conocido. <br> Propanolol, dosis: 1-2 mg/kg/día cada 8 horas vía
        oral.
        <br> Carvedilol, dosis: 0,1-1 mg/kg/día cada 12 horas vía oral.<br>

    </li>
</ol>
<h5>
    Bibliografía
</h5>
<ol>
    <li>Guía clínica Insuficiencia cardíaca. Sociedad Chilena de cardiología Cardiovascular y Ministerio de Salud, año 2015.</li>
    <li>Manual de Cardiologia y Cirugia Cardiovascualr Infantil. Osvaldo Artaza, Raúl Zillereulo. 2da Edición.</li>
    <li>Protocolos diagnóstico-terapéuticos de Urgencias Pediátricas SEUP-AEP, año 2014.Capitulo 15. Insuficiencia cardiaca en Urgencias. José María Quintillá. Servicio de Pediatría. Sección de Urgencias. Hospital Sant Joan de Déu. Universidad de Barcelona.
    </li>
    <li> Protocolos de la AEP Sociedad Española de Cardiología Pediátrica, año 2015 3a edición. Capitulo14. Insuficiencia cardiaca en pediatría. J.M. Galdeano Miranda, C. Romero Ibarra, O. Artaza Barrios. </li>
    <li>Guía Práctica Clínica año 2015. Diagnóstico y tratamiento de insuficiencia cardiaca aguda y crónica en niños. </li>
    <li>Cardiología Pediátrica. 5ta Edición año 2008. Myung K. Park. Capitulo 27 Insuficiencia Cardiaca Congestiva.</li>
    <li>Cardiología Pediátrica. Gabriel Díaz Góngora, Néstor Sandoval Reyes, Juan Fernando Vélez Moreno y Gustavo Carrillo Ángel. Mc Graw Hill año 2003.</li>

</ol>
<p>
    <b>Anexo nº 1:</b> Dosis iniciales sugeridas para las catecolaminas
</p>
<ul>
    <li> <b>Epinefrina.</b> Dosis: 0,1 a 1 ug/kg/min IV Efectos secundarios: hipertensión, arritmias.</li>
    <li> <b>Isoproterenol.</b> Dosis: 0,1 a 0,5 ug/kg/min IV Efectos secundarios: Vasodilatación periférica y pulmonar</li>
    <li> <b>Dobutamina.</b> Dosis: 2 a 8 ug/kg/min IV Efectos secundarios: menos taquicardia que la dopamina, vasodilatación, arritmias.</li>
    <li> <b>Dopamina.</b> Dosis: 5-10 ug/kg/min IV Efectos secundarios: Taquicardia, arritmias, hipertensión o hipotensión.</li>

</ul>
<p>
    Efectos cardiovasculares relacionados con la dosis (ug/kg/min):<br> Vasodilatación renal: 2 a 5<br> Inótropa: 5 a 8<br> Taquicardia: mayor a 8<br> Vasoconstricción leve: mayor a 10<br> Vasoconstricción: 15 a 20.<br>

</p>
<h5>
    Milrinona:
</h5>
<p>
    <b>Neonatos a término:</b> Soporte hemodinámico: Dosis de carga 50-75 mcg/kg (administración en 15 minutos). Seguida de infusión continua a 0.5 mcg/kg/min. Titular en función del efecto. Rango de dosis: 0.25-0.75 mcg/Kg/min. <br>
    <b>Lactante y niños</b> (28 días a 11 años). Dosis de carga a: 50-75mcg/kg durante 30 a 60 segundos. Perfusión continua entre 0.25 a 0.75 mcg/kg/min durante un periodo de hasta 35 horas.

</p>