<div class="row  mx-auto">
    <div class="col-md-3">
        <ul>
            <a routerLink="/broncopulmonar/oxigenoterapia">
                <li>Oxigenoterapia</li>
            </a>
            <a routerLink="/broncopulmonar/bronquiolitis">
                <li>Bronquiolitis</li>
            </a>
            <a routerLink="/broncopulmonar/asma-bronquial">
                <li>Exacerbación moderada a severa de asma bronquial</li>
            </a>
            <a routerLink="/broncopulmonar/neumonia-complicada">
                <li>Neumonía Complicada</li>
            </a>
            <a routerLink="/broncopulmonar/neumonia-recurrente">
                <li>Neumonía Recurrente</li>
            </a>
            <a routerLink="/broncopulmonar/fibrosis-quistica">
                <li>Fibrosis Quística</li>
            </a>
            <a routerLink="/broncopulmonar/alte-brue">
                <li>ALTE / BRUE</li>
            </a>
        </ul>
    </div>
    <div class="col-md-9 mb-5">
        <router-outlet></router-outlet>
    </div>
</div>