<h2>BRUE - ALTE</h2>
<h5>Daniel Zenteno, Javier Cepeda</h5>
<hr>
<h5>Definiciones</h5>
<p>Recientemente, en el 2016, el Subcomité de ALTE de la Sociedad Americana de Pediatría recomienda un nuevo concepto, en el marco de la publicación de una guía clínica para el enfrentamiento clínico de estos lactantes; donde sugiere modificar el término
    de ALTE por BRUE, del inglés Brief Resolved Unexplained Events o eventos breves, resueltos e inexplicados, basándose en nuevas investigaciones, avances en medicina clínica y el análisis sobre el recurso en salud empleado. Sin embargo, se limita a
    comparar los casos de ALTE menor con BRUE, dejando de lado a las situaciones de ALTE de riesgo mayor.</p>
<p>Las definiciones de ALTE y BRUE no son comparables mediante evidencias científicas, pues obedecen a recomendaciones de expertos en tiempos distintos y con gran variabilidad en el número de publicaciones. Sobre ALTE, existen muchas más publicaciones que
    para BRUE; este último posee artículos principalmente sobre la incorporación del concepto y otros que utilizaron la misma definición de ALTE al reclutar los sujetos.</p>
<p>El consenso chileno define ALTE como un episodio brusco, que ocurre en un lactante menor de un año, con la presencia de 2 o más de las siguientes manifestaciones: apnea, cambio de color, cambio de tono o atoro; en el que es necesario de algún tipo de
    maniobra de reanimación y que para el observador genera la sensación de riesgo de vida para el menor. </p>
<p>BRUE corresponde a un evento que ocurre en menores de un año, presentado en forma brusca, corta (menos de 1 minuto) y resuelta, sin necesidad de reanimación. Incluye, uno o más de los siguientes criterios; cambio del patrón respiratorio (apnea, disminución
    o irregularidad), cambio del color (cianosis o palidez), alteración del tono muscular o de la conciencia y que, luego de una historia clínica y examen físico completo, no se encuentre explicación.</p>
<p>BRUE a diferencia de ALTE, considera la información obtenida en la anamnesis y procesada por un profesional de la salud calificado, incorpora la posibilidad de alteración de conciencia, excluye la rubicundez y considera la alteración del patrón respiratorio
    como concepto más amplio que ALTE, alejándose del solo episodio de apnea. </p>
<h5>Diferencias entre conceptos de BRUE y ALTE</h5>
<img src="../assets/img/alte-brue/001.png" alt="">
<h5>BRUE</h5>
<h5>A. Categorización de riesgo</h5>
<p>Figura 4. Caracterización de riesgo de paciente con sospecha de episodio de BRUE</p>
<img src="../assets/img/alte-brue/002.png" alt="">
<h5>B. Recomendaciones Cardiopulmonares</h5>
<img src="../assets/img/alte-brue/003.png" alt="">
<h5>Tabla 2. Recomendaciones cardiopulmonares para BRUE de bajo riesgo y nivel de evidencia</h5>
<p>Grados de recomendación: A; ensayos bien diseñados y meta-análisis aplicables a la población. B; ensayos o estudios diagnósticos con limitaciones mínimas, hallazgos consistentes de múltiples estudios observacionales. C; uno o pocos estudios observacionales
    o múltiples estudios con hallazgos inconsistentes o limitaciones mayores. D; opiniones de expertos, reportes de caso.</p>
<h5>C. Recomendaciones adicionales para manejo de BRUE</h5>
<ul>
    <li>Educar sobre BRUE. Educar cuando volver a consultar, riesgos y dudas que surjan.</li>
    <li>Tomar decisiones compartidas con los padres. Es de gran relevancia la experiencia del médico y del equipo de salud para orientar a los padres.</li>
    <li>Entrenamiento a los cuidados sobre técnicas de reanimación cardiopulmonar. Puede ser complejo en un servicio de urgencia educar sobre RCP, considerando la presión asistencial que poseen los equipos de salud en nuestro medio. </li>
    <li>Educación sobre medidas de dormir seguro. Incluyen dormir en decúbito supino, evitar el colecho, ambiente libre de tabaco, uso de colchón firme y bien encajado, evitar el sobreabrigo, juguetes y almohadas en la cuna. Considera uso de folletos o tarjetas
        de cuna.</li>
</ul>
<h5>Paciente de Riesgo (ALTE según consenso chileno)</h5>
<p>La dificultad se presenta en pacientes que presentan un evento más severo o que no cumplen los criterios de bajo riesgo definidos en la guía de BRUE; instancia en la cual, las recomendaciones de este nuevo término son insuficientes. En estos casos, protocolos
    locales pasan a ser determinantes para conductas de enfrentamiento. </p>
<p>Los pacientes que no cumplen criterios de BRUE de bajo riesgo, se deberían hospitalizar por un mínimo de 24-48 horas en una unidad que permita el monitoreo cardiorrespiratorio continuo, para un estudio completo orientado en una anamnesis exhaustiva y
    posteriormente complementar con estudios escalonados según la realidad de cada centro de salud. Iniciar estudios con exámenes generales de sangre (hemograma, gases en sangre, glicemia, electrolitos plasmáticos, nitrógeno ureico), electroencefalograma,
    electrocardiograma, radiografía de tórax, panel respiratorio. Y en caso de no tener hallazgos, continuar con evaluación por subespecialistas y estudios más complejos que procedan. </p>
<h5>Bibliografía</h5>
<ol>
    <li>Brockmann Pablo, Abara Selim, Campos Carolina, Holmgren Nils, Montes Soledad, Sepúlveda Hernán, Zenteno Daniel. Consenso sobre el manejo de eventos de aparente amenaza a la vida del lactante (ALTE): Comisión de Sueño, Sociedad Chilena de Neumología
        Pediátrica 2013. Rev. chil. Pediatr 2014; 85:378-387.</li>
    <li>Tieder Joel, Bonkowsky Joshua, Etzel Ruth, Franklin Wayne, Gremse David, Herman Bruce, et al. Brief Resolved Unexplained Events (Formerly Apparent Life-Threatening Events) and Evaluation of Lower-Risk Infants. Pediatrics 2016; 137-169.</li>
    <li>Brand D, Fazzari M. Risk of Death in Infants Who Have Experienced a Brief Resolved Unexplained Event: A Meta-Analysis. J Pediatr. 2018; 197:63-67.</li>
    <li>Arane K, Claudius I, Goldman R. Brief resolved unexplained event: New diagnosis in infants. Canadian Family Physician. 2017; 63:39-41.</li>
    <li>Zenteno Daniel, Quiroz Gonzalo, Celis Magdalena, Tapia Jaime. Causas atribuidas a eventos de aparente amenaza a la vida del lactante. Rev. chil. Pediatr 2008; 79:163-171. </li>
    <li>Rocca Manuel. BRUE: a new term and approach that could improve our practice. Arch Argent Pediatr 2016; 114:506-507</li>
    <li>Zenteno D, Peña R, Fuentes C, Tapia J, Verbal D, Rodriguez I. Efecto de un enfoque estandarizado en lactantes hospitalizados por eventos de aparentemente amenaza a la vida. Biomédica. 2018; 38: </li>
    <li>Carlin R, Moon R. Risk factors, Protective Factors, and Current Recommendations to Reduce Sudden Infant Death Syndrome: A Review. JAMA Pediatr. 2017; 171:175-180479-485</li>

</ol>
<h5>El algoritmo presentado a continuación y adaptado del consenso previamente citado permite orientar las etapas de estudio de un lactante con ALTE (algoritmo).</h5>
<img src="../assets/img/alte-brue/004.png" alt="">