<h2>Shock cardiogénico</h2>
<h5>Dr. Rodrigo Escobar</h5>
<hr>
<h5>Definición</h5>
<p>Estado de disfunción grave que resulta en un suministro inadecuado de oxígeno y nutrientes a los tejidos para satisfacer la demanda metabólica, resultando en hipoxia tisular.</p>

<p>El <b>flujo circulatorio</b> depende de:</p>
<ul>
    <li>Volumen sanguíneo</li>
    <li>Resistencia vascular</li>
    <li>Función cardiaca</li>
</ul>
<p>El <b>shock cardiogénico</b> se genera como resultado del:</p>
<ul>
    <li>Escaso flujo aórtico </li>
    <li>Déficit en la entrega de O<sub>2</sub></li>

</ul>
<h5>Componentes de la entrega de O<sub>2</sub>:</h5>
<img src="../assets/img/shock-cardiogenico/001.png" alt="">
<p class="text-center">Esquema N°1</p>
<p>Se define en base a parámetros clínicos y hemodinámicos:</p>
<ul>
    <li>Signos de hipoperfusión tisular frialdad periférica, oliguria y Compromiso de conciencia.</li>
    <li>Hipotensión arterial persistente: PAS
        <2DS</li>
            <li>Reducción grave del índice cardiaco:
                <1.8 l/m/m<sup>2</sup> sin soporte inotrópico o
                    < 2 l/m/m<sup>2</sup> con inotrópicos.</li>
            <li>Presiones de llenado ventricular adecuadas o altas. </li>

</ul>
<h5>Etiología:</h5>
<ul>
    <li><b>Cardiopatías congénitas y su corrección quirúrgica</b></li>
    <li><b>Miocardiopatías</b>
        <ul>
            <li>Hipoxia-isquemia: shock prolongado, origen anómalo de las coronarias, cirugía extracorpórea</li>
            <li>Infecciones</li>
            <li>Alteraciones metabólicas: hipo/hipertiroidismo, hipoglucemia, glucogenosis, mucopolisacaridosis, feocromocitoma, déficit de carnitina, alteración del metabolismo de los ácidos grasos, acidosis, hipotermia, hipocalcemia</li>
            <li>Enfermedades del tejido conectivo: lupus, artritis reumatoide juvenil, enfermedad de Kawasaki, fiebre reumática aguda</li>
            <li>Tóxicos</li>
            <li>Otras: miocardiopatía dilatada familiar, miocardiopatía dilatada idiopática.</li>

        </ul>
    </li>
    <li><b>Trastornos de la frecuencia cardiaca</b>
        <ul>
            <li>Taquicardia supraventricular mantenida</li>
            <li>Arritmias ventriculares</li>
            <li>Bradicardia</li>


        </ul>
    </li>
    <li>
        <b> Traumatismo cardiaco.</b>
    </li>

</ul>
<h5>Fisiopatología:</h5>
<ul>
    <li>Disminución del GC por un fallo en la contractilidad miocárdica o por una disfunción diastólica.</li>
    <li>Los mecanismos compensadores en el shock cardiogénico tienen un efecto deletéreo desde su inicio:
        <ul>
            <li>Aumenta FC por lo que el ventrículo no alcanza a llenarse completamente y disminuye VE.</li>
            <li>Aumenta la RVS para elevar la PA lo que aumenta la post-carga y empeora el vaciamiento cardiaco.</li>
            <li>La caída del GC activa la cascada neuro-hormonal que lleva a retención de agua y sodio, lo que produce sobrecarga de volumen y favorece el edema pulmonar.</li>

        </ul>
    </li>
    <li>
        Se establece un círculo vicioso: <b>GC ↓     Precarga ↑    RVS ↑</b>
    </li>
</ul>
<h5>Manifestaciones Clínicas:</h5>
<ul>
    <li><b>Signos precoces de descompensación hemodinámica:</b>
        <ul>
            <li>Taquicardia en reposo</li>
            <li>Inadecuada perfusión periférica</li>
            <li>Acidosis metabólica </li>
        </ul>
    </li>
    <li>
        <b>Signos derivados de la activación de los mecanismos de compensación:</b>
        <ul>
            <li>Taquicardia, sudoración, mala perfusión periférica, frialdad de extremidades, taquipnea.</li>
        </ul>
    </li>
    <li>
        <b>Signos derivados de la hipoperfusión tisular:</b>
        <ul>
            <li>Hipotensión arterial, disminución del nivel de conciencia, oligoanuria.</li>
            <li>Acidosis láctica.</li>
            <li>Disfunción multiorgánica (precoces y graves).</li>
        </ul>
    </li>
    <li><b>Signos derivados de la congestión tisular:</b>
        <ul>
            <li>Hepatomegalia, ingurgitación yugular, edemas periféricos y edema agudo de pulmón. </li>
            <li>Trastornos del sensorio (excitación / depresión)</li>
            <li>Piel “moteada” / cianosis</li>

        </ul>
    </li>
    <li>
        <b>Hipotensión Arterial es un signo tardío</b>
    </li>
</ul>
<h5>
    Laboratorio:
</h5>
<ul>
    <li>LACTATO ↑</li>
    <li>SvO2 ↓ (VN: 65- 77%)</li>
</ul>
<h5>
    Diagnóstico:
</h5>
<ul>
    <li>Exhaustiva historia clínica y exploración física. </li>
    <li>Radiografía de tórax: tamaño cardíaco, signos de congestión pulmonar.</li>
    <li>ECG: arritmias, cardiopatía isquémica.</li>
    <li>Ecocardiograma: diagnóstico, revela CC, segmentos acinéticos, disfunción valvular, medición de cavidad ventricular (precarga). </li>
</ul>
<h5>Evaluación:</h5>
<ul>
    <li>Descartar o corregir alteraciones del ritmo
        <ul>
            <li>
                Bradiarritmia, Taquiarritmia Supraventricular post-operatorias
            </li>
        </ul>
    </li>
    <li>Descartar y/o tratar causas mecánicas
        <ul>
            <li>Pneumotórax, Taponamiento cardiaco</li>
        </ul>
    </li>
    <li>Excluir la presencia de Cardiopatías Congénitas.
    </li>
</ul>
<p><b>Evaluación de sospecha de Cardiopatía Congénita:</b></p>
<ul>
    <li>Cardiopatías significativas se presentan como falla cardíaca congestiva, cianosis o shock.</li>
    <li>Falla cardíaca congestiva.</li>
    <li>Dificultad para alimentarse, taquipnea, irritabilidad, agitación</li>
    <li>Clínica y hallazgo de soplo sospechoso.</li>
    <li>Cianosis central (mucosas y labios).</li>
</ul>
<h5>Tratamiento:</h5>
<p>Manejo en UCIP:</p>
<ul>
    <li>
        <b>Parámetros básicos (obligados):</b> FC, PA invasiva, PVC, temperatura diferencial, niveles de lactato.
    </li>
    <li><b>Disminuir la demanda miocárdica de oxígeno</b>
        <ul>
            <li>Intubación, ventilación mecánica</li>
            <li>Temperatura corporal adecuada</li>
            <li>Sedación</li>
            <li>Corrección de la anemia</li>
        </ul>
    </li>
    <li>
        <b>Maximizar el rendimiento del miocardio</b>
        <ul>
            <li>Corregir las arritmias</li>
            <li>Optimizar la precarga: restricción de agua y sodio, diuréticos, Venodilatadores.</li>
        </ul>
    </li>
    <li>
        <b>Mejorar la contractilidad</b>
        <ul>
            <li>Aporte de oxígeno y ventilación adecuadas</li>
            <li>Corrección de acidosis y otras alteraciones metabólicas</li>
            <li>Inotrópicos</li>
        </ul>
    </li>
    <li>
        <b>Reducir la postcarga</b>
        <ul>
            <li>Sedoanalgesia</li>
            <li>Evitar hipotermia</li>
            <li>Vasodilatadores</li>
        </ul>
    </li>
    <li><b>Valorar: </b>
        <ul>
            <li>Posibilidad de cirugía (cardiopatías congénitas) </li>
            <li>Dispositivos mecánicos de asistencia </li>
            <li>Trasplante cardiaco</li>
        </ul>
    </li>
</ul>
<h5>A. Tratamiento Farmacológico:</h5>
<ul>
    <li><b>Inotrópicos:</b>
        <ul>
            <li>Catecolaminas: dobutamina, dopamina, adrenalina (dosis usuales)</li>
            <li>Inhibidores de PDE III: Milrinona</li>
            <li>Levosimendan</li>
        </ul>
    </li>
    <li><b>Vasodilatadores: NTG, NPS.</b></li>
    <li><b>Diuréticos: furosemida</b></li>
    <li><b>ARM: VM convencional, VNI.</b></li>
    <li><b>Otras Drogas:</b>
        <ul>
            <li><b>Corticoides:</b>
                <ul>
                    <li>Asociados a mejoría en DC con dosis de rescate de Hidrocortisona, especialmente en pacientes que evoluciona con bajo GC en post operado cardíaco y en shock séptico.</li>
                </ul>
            </li>
            <li><b>Hormona Tiroidea T3:</b>
                <ul>
                    <li>Triyodotironina puede aumentar DC tiene efecto inótropo y cronótropo. </li>
                    <li>Pacientes con SBDC pueden tener alteración en el metabolismo de la hormona tiroídea.</li>
                </ul>
            </li>

        </ul>
    </li>
</ul>
<h5>
    B. Soporte Circulatorio Mecánico:
</h5>
<ul>
    <li>BCPA: balón de contrapulsación aórtico</li>
    <li>ECMO: Extra-corporeal Membrane Oxygenation</li>
    <li>VAD: Ventricular Assist Device</li>
    <li>BERLIN HEART</li>
</ul>