<h2>Oxigenoterapia</h2>
<h5>Bernardo Bancalari M.</h5>
<hr>
<p>Se entiende por oxigenoterapia a la administración suplementaria de oxígeno en concentraciones mayores al aire ambiental (21%). Es indicada para revertir estados de hipoxemia, ya sean agudos o crónicos, previniendo de esta manera las complicaciones derivadas
    de la hipoxia tisular. Permite disminuir el trabajo respiratorio y cardíaco.</p>
<p>Como todo fármaco, el oxígeno requiere de una indicación precisa, en dosis adecuada y por un tiempo establecido. Presenta potenciales efectos adversos, tales como: atelectasia por denitrogenación, ciliostasia, toxicidad pulmonar y fibrodisplasia retrolental.
    Requiere una adecuada monitorización de la fracción inspirada de oxígeno y de la presión parcial arterial de oxígeno en muestra arterial o indirectamente mediante la saturación de la hemoglobina con un saturómetro de pulso.</p>
<h5>Indicaciones:</h5>
<ol>
    <li>Hipoxemia arterial aguda o crónica: mantener una PaO2 mayor a 60 mmHg y saturación de Hb mayor o igual a 95%</li>
    <li>Oxigenoterapia en ausencia de hipoxemia:
        <ul>
            <li>Hipoxia circulatoria: por disminución del aporte sanguíneo a los tejidos. Por ejemplos: Shock, insuficiencia cardiaca, oclusión arterial (PaO2 y contenido arterial de oxígeno normales)</li>
            <li>Hipoxia anémica: por disminución de la capacidad de transporte de oxígeno a los tejidos. Por ejemplo: anemia, intoxicación por CO, metahemoglobinemia (PaO2 normal y contenido arterial de oxígeno bajo).</li>
        </ul>
    </li>
</ol>
<h5>Sistemas de administración de oxígeno</h5>
<ol>
    <li>Sistemas de bajo flujo: El flujo inspiratorio del paciente excede al del sistema. Entregan una FiO2 variable, que depende del volumen corriente y de la frecuencia respiratoria. Por ejemplo: cánula nasal y mascarilla simple.</li>
    <li>Sistemas de alto flujo: El flujo inspiratorio del paciente es menor al del sistema, por lo que la FiO2 entregada es fija. Por ejemplo: Mascarilla Venturi. </li>
</ol>

<div class="table-responsive">

    <table class="table table-hover table-striped bg-light table-bordered rounded">
        <thead>
            <tr>
                <th scope="col">Método</th>
                <th scope="col">Flujo de O<sub>2</sub> (l/min)</th>
                <th scope="col">FiO<sub>2</sub> alcanzada</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Catéter nasofaringeo</td>
                <td>1 - 2</td>
                <td>0,45 - 0,60</td>
            </tr>
            <tr>
                <td>Cánula nasal o naricera*</td>
                <td>1<br>2<br>3</td>
                <td>0,22 - 0,24<br>0,24 - 0,28<br>0.28 - 0,50</td>
            </tr>
            <tr>
                <td>Máscara simple</td>
                <td>6 - 8</td>
                <td>0,32 - 0,50</td>
            </tr>
            <tr>
                <td>Máscara con reservorio<br>
                    <ul>
                        <li>De reinhalación parcial</li>
                        <li>De no reinhalación</li>
                    </ul>
                    <td><br>10 - 15<br>10 - 15</td>
                    <td><br>0,40 - 0,80<br>0,60 - 0,95</td>
            </tr>
            <tr>
                <td>Mascarilla Venturi</td>
                <td>9<br>12<br>15</td>
                <td>0,35<br>0,40<br>0,50</td>
            </tr>
        </tbody>
    </table>
</div>
<h5>Calentamiento y humidificación del oxígeno</h5>
<p>El humidificador de burbuja consigue una humedad relativa del 20 – 40% y no calienta el oxígeno. Por otro lado, los humidificadores calentadores (nebulizadores o de cascada) entregan una humedad relativa de 100% a temperaturas de 28 – 30 grados, y son
    imprescindibles en el paciente intubado, traqueostomizado o con secreciones espesas. </p>
<h5>Oxigenoterapia de alto flujo a través de cánula nasal</h5>
<p>Consiste en el aporte de oxígeno solo o mezclado con aire, por sobre el flujo inspiratorio del paciente mediante una cánula nasal. El gas se administra húmedo (95 – 100%) y a una temperatura de 34 – 40 °c. Está indicada en insuficiencia respiratoria hipoxémica
    con requerimientos de O2 mayores a 2 litros por minuto, o FiO2 > 0,40 con oxigenoterapia convencional. Se recomienda partir con flujo de 1 – 2 litros / kg / minuto. En lactantes menores de 2 años, no superar los 15 litros por minuto. Se considera
    fracaso de la OTAF si después de una hora no se logra una saturación de oxígeno mayor al 95% con mantención o intensificación del trabajo respiratorio. En esto, se debe considerar el uso de asistencia ventilatoria no invasiva (AVNI)</p>

<table class="table table-hover table-striped bg-light rounded">
    <thead>
        <tr>
            <th scope="col">Peso (Kg)</th>
            <th scope="col">Flujo (l/min)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>3 - 4</td>
            <td>5</td>
        </tr>
        <tr>
            <td>4 - 7</td>
            <td>6</td>
        </tr>
        <tr>
            <td>8 - 10</td>
            <td>7 - 8</td>
        </tr>
        <tr>
            <td>11 - 14</td>
            <td>9 - 10</td>
        </tr>
        <tr>
            <td>15 - 20</td>
            <td>10 - 15</td>
        </tr>
        <tr>
            <td>21 - 25</td>
            <td>15 - 20</td>
        </tr>
        <tr>
            <td>>30</td>
            <td>>25</td>
        </tr>
    </tbody>
</table>
<h5>Oxigenoterapia domiciliaria</h5>
<p>Su principal objetivo es aumentar la sobrevida y mejorar la calidad de vida de los pacientes con problemas respiratorios, facilitando así una óptima reinserción familiar y escolar. A su vez, permite liberar camas hospitalarias, reducir los días cama y
    costos de hospitalización, y disminuir el riesgo de infecciones nosocomiales. A partir del año 2003 se establece el programa ministerial financiado para oxigenoterapia ambulatoria.</p>
<h5>Fundamentos fisiopatológicos</h5>
<ul>
    <li>Aumenta la entrega periférica de oxígeno</li>
    <li>Mejora la capacidad de trabajo general y respiratorio</li>
    <li>Mejora la resistencia a la fatiga</li>
    <li>Mejora la función cardiovascular al disminuir la hipoxemia</li>
    <li>Mejora la respuesta adaptativa ventilatoria y cardiovascular a la sobrecarga de trabajo por infección o aumento de la resistencia en la vía aérea.</li>
</ul>
<h5>Criterios de ingreso al programa</h5>
<ul>
    <li>Paciente
        < a 20 años, portador de insuficiencia respiratoria crónica (enfermedades neuromusculares, displasia broncopulmonar, fibrosis quística, enfermedad pulmonar crónica post viral). </li>
            <li>Paciente que requiere administración de oxígeno en forma transitoria o permanente y en quien el O2 determine un beneficio clínico objetivable.
            </li>
            <li>Requerimiento de oxígeno no mayor a 2 litros por minuto por cánula nasal.</li>
            <li>Período de estabilidad clínica y radiológica, sin cambios importantes en los requerimientos de oxígeno en las últimas dos semanas.</li>
            <li>El aporte de oxígeno es el necesario para lograr una saturación mínima de 95%.</li>
            <li>Situación socioeconómica y familiar que permita el aporte de oxígeno en domicilio según evaluación de asistente social.</li>
            <li>Ser beneficiario del sistema público de salud: Fonasa A, B, C, D.</li>
            <li>Que los requerimientos adicionales de oxígeno estén determinados por:
                <ol>
                    <li>Registro de saturometría simple:
                        <ul>
                            <li>Al menos una hora de registro con sueño y vigilia</li>
                            <li>Saturación
                                < 95% que coincida con aumento de frecuencia cardiaca y frecuencia respiratoria mayor o igual al 15% por sobre las basales del paciente.</li>
                        </ul>
                        </li>
                        <li>Registro de saturometría continua nocturna de al menos 8 horas y con menos del 20% del tiempo en desconexiones:
                            <ul>
                                <li>Saturación promedio
                                    < 95%</li>
                                        <li>Más de 10% del tiempo con saturación
                                            < 93%</li>
                                                <li>Desaturaciones bajo 85%, de menos de 10 segundos de duración, aunque sea solo un episodio</li>
                                                <li>Desaturaciones bajo 85%, de menos de 10 segundos de duración en mayores de 2 años</li>
                            </ul>
                            </li>
                </ol>
                </li>
</ul>

<h5>Criterios de exclusión</h5>
<ul>
    <li>Daño neurológico con retraso mental severo.</li>
    <li>Malformaciones múltiples de mal pronóstico.</li>
    <li>Previsión distinta a Fona</li>
</ul>
<p>*En estos casos y según decisión del especialista se podrá solicitar financiamiento al hospital correspondiente por domicilio.</p>
<h5>Condiciones de alta</h5>
<p>Saturometría nocturna continua domiciliaria normal con registro de al menos 8 horas.</p>
<h5>Fuentes de oxígeno disponibles</h5>
<p>Oxígeno líquido o cilindro de oxígeno gaseoso medicinal, concentrador de oxígeno. </p>
<h5>Bibliografía</h5>
<ul>
    <li>Astudillo P. Fibrosis quística en Chile. Revista Chilena Neumología Pediátrica, 5 (1), 42-43, 2010. </li>
    <li>Ministerio de Salud. Programa nacional de oxigenoterapia ambulatoria. Chile: Gobierno de Chile; 2003. </li>
    <li>Mocelin, Helena Teresinha. Home oxygen therapy in children: seven years experience. J. Pneumologia. 2001; 27(3): 148-152. </li>
    <li>Amilibia A., Peña S V. Oxigenoterapia continua domiciliaria: un buen tratamiento si se hace bien. Rev. Medicina Interna Madrid, 21(2), 53-55, 2004. </li>
    <li>Balfour – Lynn M. Domiciliary oxigen for children. Pediatr Clin NA 2009; 56(1):275-96.</li>
    <li>Lee M Jr, Nagler J High-Flow nasal cannula therapy beyond the perinatal period. Curr Opin Pediatr 2017;29(3):291-6.</li>
    <li>Hutchings FA, Hilliard TN, Davis PJ. Heated humidified high-flow nasal cannula therapy in children. Arch Dis Child 2015; 100(6): 571-5.</li>
</ul>