<h2>Fibrosis Quística</h2>
<h5>Dr Daniel Zenteno, Dr Rubén Peña, Dra Fernanda Bello</h5>
<hr>
<h5>Definición</h5>
<p>Enfermedad hereditaria letal de transmisión autosómica recesiva. Se produce por una mutación en el gen que codifica la CFTR (proteína reguladora de conductancia transmembrana), ubicado en el brazo largo del cromosoma 7. Se han descrito más de 1.800 mutaciones,
    siendo la más común la llamada ∆ F508.
</p>
<h5>Epidemiología</h5>
<p>En Chile, se estima una incidencia de 1/8.000 – 10.000 RNV, con aproximadamente 30 casos nuevos anualmente. Posee cobertura Plan Auge a partir del año 2005.</p>
<h5>Etiología y fisiopatología general</h5>
<p>El defecto de la proteína provoca una alteración del transporte de cloro y sodio por las células de los epitelios, con gran espesamiento de secreciones; siendo los principales órganos afectados son el pulmón, cavidades paranasales, páncreas, hígado, piel
    y el aparato reproductor masculino.
</p>
<h5>Diagnóstico (Clínica / Laboratorio) </h5>
<p>
    A. Sospecha Clínica. <br> Sospecha Clínica según grupo etario <br> B Conformación diagnóstica<br> Solicitar Electrolitos en Sudor, específicamente Clorimetría, en pacientes desde los 2 k<br>
    <br> Figura 1. Conducta frente a distintos resultados de cloro en sudor
</p>
<img src="../assets/img/fibrosis-quistica/001.png" alt="">
<p></p>
<img src="../assets/img/fibrosis-quistica/002.png" alt="">
<p></p>
<h5>Tratamiento y Seguimiento </h5>
<p>El paciente con Fibrosis Quística debe realizar seguimiento por un equipo profesionales capacitados, sus controles son realizados en forma mínima mensual por un comité compuesto mínimo por broncopulmonar y gastroenterólogo. En esta instancia se determina
    la derivación a otros especialistas y control de exámenes de sangre generales o específicos Rehabilitación respiratoria: Recomendable, con un régimen adecuado a las condiciones de cada paciente.
</p>
<h5>Principales exámenes </h5>
<ul>
    <li>Cultivos de secreción bronquial: Mensual o en inicio y control de reagudización</li>
    <li>Función pulmonar: Espirometría basal y post b2, curva flujo-volumen y test de marcha de 6 minutos. Desde los 4 años de edad y reevaluar al menos cada 6 meses.</li>
    <li>TAC de tórax: Al diagnóstico, luego frente a sospecha de complicaciones no explicadas por la radiografía de tórax</li>
    <li>Elastasa fecal: Debería realizarse al diagnóstico para evaluar grado de suficiencia pancreática; pacientes que presenten valores normales debe repetirse anualmente.</li>
    <li>Otros generales frente a sospechas de complicaciones agudas o crónicas</li>

</ul>
<h5>Tratamiento Permanente</h5>
<p>Indicados por el especialista, están destinados a mantener la estabilidad respiratoria, procurando lograr una adecuada higiene de la vía aérea y evitar efectos de la malabsorción por insuficiencia pancreática. <br> Detalle en orientaciones técnicas MINSAL<br>    La kinesioterapia y rehabilitación respiratoria son fundamentales en el seguimiento
</p>
<p>Se incluyen <br> Broncodilatadores
    <br> ß-2 agonistas de acción corta; Si obstrucción o SOS<br> ß-2 agonistas de acción prolongada: Sobre 2 años, con hiperreactividad y efecto demostrado
</p>
<h5>Corticoesteroides</h5>
<p>Corticoides sistémicos: En obstrucción aguda moderada severa o Aspergilosis broncopulmonar alérgica <br> Corticoides inhalatorios: en hiperreactividad bronquial comprobada.
</p>
<h5>
    Mucolíticos <br> Dnasa inhalatoria
</h5>
<p>En exacerbaciones durante la hospitalización una nebulización diaria.</p>
<p>Uso crónico en pacientes estables mayores de 6 años, capaces de realizar pruebas de función pulmonar reproducibles (variabilidad entre test
    <5%) y en preescolares con enfermedad moderada a severa. <br>
        <b>Solución hipertónica al 5%-7%:</b> Es una alternativa barata y segura a la Dnasa inhalatoria. Usar sola o alternada con DNasa.
</p>
<p>
    <b>Secuencia para la admiración de terapia inhalatoria:</b> Primero broncodilatador ß-2 agonista, seguido de DNasa o solución salina hipertónica, a los 30 a 60 min kinesioterapia y finalmente antibiótico si procede. <br>
    <b>Enzimas pancreáticas.</b> Según indicación por gastroenterólogo.<br>
    <b>Desomeprazol:</b> favorece la acción de las enzimas en las vellosidades intestinales. Terapia antirreflujo, Protector gástrico <b>Ácido urso deoxicólico.</b> En compromiso hepático

</p>
<h5>Otros</h5>
<p>Oxigenoterapia y/o Asistencia ventilatoria no invasiva (VNI) según normativas de respectivos programas.<br> Trasplante Pulmonar: Para pacientes severos a partir de los 15 años. Todo paciente en condición estable y que presente VEF 1
    <40% puede iniciar trámites de evaluación para trasplante. </p>
        <h5>Prevención</h5>
        <p>
            Medidas Generales
        </p>
        <ul>
            <li>Evitar contacto entre paciente con FQ</li>
            <li>Vacunación según plan nacional, vacunación antiinfluenza anual y antineumococo. Antihepatitis A y B y varicela</li>
        </ul>
        <h5>Reagudizaciones Respiratorias</h5>
        <p>Debe plantearse exacerbación respiratoria y tomar cultivo de expectoración ante la presencia de dos o más de los siguientes síntomas y signos:</p>
        <ul>
            <li>Aumento de la tos y/o secreciones bronquiales </li>
            <li>Cambio en el volumen, apariencia y color de la expectoración </li>
            <li>Aparición de hemoptisis o expectoración hemoptoica </li>
            <li>Aumento de la frecuencia respiratoria o de la disnea </li>
            <li>Nuevos hallazgos en la auscultación pulmonar </li>
            <li>Nuevos infiltrados en la radiografía de tórax </li>
            <li>Deterioro de las pruebas de función pulmonar (caída de VEF1 .10% y/o reducción de 2 ó más puntos en la saturación de O2) </li>
            <li>Pérdida del apetito, decaimiento, baja de peso </li>
            <li>Fatiga o disminución de la tolerancia al ejercicio </li>
            <li>Fiebre > 380 (infrecuente en FQ) </li>
            <li>Leucocitosis y/o aumento de VHS </li>
        </ul>
        <p>
            Las exacerbaciones requieren tratamiento antibiótico endovenoso, salvo aquellas leves en que la respuesta dentro de las primeras 48 horas de tratamiento oral es favorable. El diagnóstico de una exacerbación debe basarse en cambios clínicos sutiles, que
            permitirá abordar su tratamiento en forma ambulatoria.<br> No descartan el diagnóstico de exacerbación la ausencia de fiebre y de hallazgos al examen pulmonar, la falta de cambios en la radiografía de tórax y la presencia de un
            hemograma o reactantes de fase aguda dentro de la normalidad.
        </p>
        <h5>
            Tratamiento Antibiótico
        </h5>
        <p>
            En el caso de una infección viral sin síntomas respiratorios bajos o con síntomas leves, se debe administrar antibióticos que cubran S. aureus y H. influenzae (amoxicilina/ácido clavulánico)<br> Si hay antecedentes de infección por P. aeruginosa
            se puede usar ciprofloxacino. Frente a infección por virus influenza, iniciar en las primeras 48 hrs Oseltamivir cada 12 hrs por 5 días.
        </p>
        <p>Frente a una exacerbación moderada o grave y también en una exacerbación leve sin respuesta favorable dentro de las primeras 48 horas de tratamiento con antibiótico oral, el paciente debe hospitalizarse en aislamiento (o sala limpia), tomar cultivo
            de expectoración para estudio microbiológico.</p>
        <p>El tratamiento antibiótico de inicio dependerá de los antecedentes de la pesquisa en los cultivos previos: </p>
        <p>a) Paciente con cultivos previos negativos: Cloxacilina + Amikacina + Ceftazidima hasta la llegada del cultivo. Si es positivo, el tratamiento debe adecuarse al microorganismo encontrado y su antibiograma (ver tratamiento específico). Si es negativo,
            completar 2 semanas de tratamiento. Frente a la presencia de Pseudomonas aeruginosa siempre asociar 2 antibióticos.
        </p>
        <p>
            b) Paciente con cultivos previos positivos: iniciar según el resultado de su último cultivo: <br> Staphylococcus aureus meticilino sensible: Cloxacilina IV x 21 días. Se puede cambiar a vía oral después de la segunda semana <br> Staphylococcus
            aureus meticilino resistente: Vancomicina IV x 21 días Pseudomonas aeruginosa: Asociar Ceftazidima IV + Amikacina IV Pseudomona resistentes a Ceftazidima: Asociar 2 antibióticos de acuerdo a antibiograma <br> Microorganismos habituales (Neumococo,
            Haemophilus sp, Moraxella, Streptococcus pyogenes, etc.): usar tratamiento convencional por 14 días.

        </p>
        <p>
            c) Antibióticos de excepción: Staphylococcus aureus meticilino resistente, en alérgicos a Vancomicina: Linezolid por vía oral (o IV, si está disponible). <br> Pseudomonas aeruginosa multirresistente: Imipenem, Ticarcilina. <br> En toda exacerbación
            se debe controlar con cultivos y espirometrías semanales durante el Tratamiento.
        </p>
        <h5>Derivación:</h5>
        <p> Siempre a Equipo de fibrosis Quística</p>
        <h5>Bibliografía</h5>
        <ul>
            <li>Programa Nacional de Fibrosis Quística. Orientaciones Técnicas Programáticas para Diagnóstico y Tratamiento 2012. www.fibrosisquisticachile.cl </li>
            <li>Grupo Técnico Programa Nacional de Fibrosis Quística. Programa nacional de fibrosis quística: Manual técnico de diagnóstico y tratamiento respiratorio. Neumología Pediátrica 2006; 1: 102-110.</li>
            <li>Farrell PM, White TB, Ren CL, et al. Diagnosis of Cystic Fibrosis: Consensus guidelines from the cystic fibrosis foundation. J Pediatr 2017; 181S:S4-15</li>
            <li>Smyth AR, Bell SC, Bojcin S, Bryon M, Duff A, Flume P, Kashirskaya N, Munck A, Ratjen F, Schwarzenberg SJ, Sermet-Gaudelus I, Southern KW, Taccetti G, Ullrich G, Wolfe S; European Cystic Fibrosis Society. European Cystic Fibrosis Society Standards
                of Care: Best Practice guidelines. J Cyst Fibros. 2014;13 Suppl 1: S23-42</li>
            <li>Borowitz D, Robinson KA, Rosenfeld M, Davis SD, Sabadosa KA, Spear SL, Michel SH, Parad RB, Bolia R, Ooi CY, Lewindon P, Bishop J, Ranganathan S, Harrison J et al. Practical approach to the gastrointestinal manifestations of cystic fibrosis.
                J Paediatr Child Health. 2018; 54:609-619.</li>
            <li>White TB, Farrell PM, Marshall BC, Accurso FJ. Cystic Fibrosis Foundation evidence-based guidelines for management of infants with cystic fibrosis. J Pediatr 2009 Dec; 155(6)Suppl: S73-S93.</li>
            <li>Zenteno D, Puppo H, Vera R, Torres R, Chug-Kuo, Salinas P, Prado F. Guías de rehabilitación pulmonar para niños con enfermedades respiratorias crónicas. Rev Neumología Pediátrica.2009</li>

        </ul>