<div class="container">
    <nav class=" desk-menu navbar d-lg-block d-md-none d-sm-none d-none navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <ul class="navbar-nav d-flex flex-row justify-content-around ">

                <li class="nav-item mx-3">
                    <a class="nav-link" href="#">Sobre el proyecto</a>
                </li>

                <li class="nav-item dropdown mx-3">
                    <a class="nav-link dropdown-toggle" href="#" id="about-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Objetivos y alcances </a>
                    <ul class="dropdown-menu" aria-labelledby="about-dropdown">
                        <li><a class="dropdown-item" href="#">Autores</a></li>
                        <li><a class="dropdown-item" href="#">Introducción</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Descargas</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown mx-3">
                    <a class="nav-link dropdown-toggle" href="#" id="enfermedades-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Generales </a>
                    <ul class="dropdown-menu" aria-labelledby="enfermedades-dropdown">
                        <li><a class="dropdown-item" href="#">BRONCOPULMONAR</a></li>
                        <li><a class="dropdown-item" href="#">CARDIOLOGÍA</a></li>
                        <li><a class="dropdown-item" href="#">ENDOCRINOLOGÍA</a></li>
                        <li><a class="dropdown-item" href="#">GASTROENTEROLOGÍA</a></li>
                        <li><a class="dropdown-item" href="#">GENETICA</a></li>
                        <li><a class="dropdown-item" href="#">INFECTOLOGÍA</a></li>
                        <li><a class="dropdown-item" href="#">INMUNOLOGÍA Y REUMATOLOGÍA</a></li>
                        <li><a class="dropdown-item" href="#">NEFROLOGÍA</a></li>
                        <li><a class="dropdown-item" href="#">NEUROLOGÍA</a></li>
                        <li><a class="dropdown-item" href="#">NUTRICIÓN</a></li>
                        <li><a class="dropdown-item" href="#">PSIQUIATRÍA</a></li>
                        <li><a class="dropdown-item" href="#">ARSENAL FARMACOLÓGICO HGGB</a></li>
                        <li><a class="dropdown-item" href="#">EXAMENES DE LABORATORIO DISPONIBLES EN HGGB</a></li>

                    </ul>
                </li>

                <li class="nav-item mx-3">
                    <a class="nav-link" href="#">Protocolos</a>
                </li>

            </ul>

        </div>
    </nav>


    <nav class=" mobile-menu navbar navbar-light navbar-expand-lg bg-light fixed-top d-lg-none">
        <a class="navbar-brand" href="#">Offcanvas navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav ">

                    <li class="nav-item mx-3">
                        <a class="nav-link" href="#">Sobre el proyecto</a>
                    </li>

                    <li class="nav-item dropdown mx-3">
                        <a class="nav-link dropdown-toggle" href="#" id="about-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Objetivos y alcances </a>
                        <ul class="dropdown-menu" aria-labelledby="about-dropdown">
                            <li><a class="dropdown-item" href="#">Autores</a></li>
                            <li><a class="dropdown-item" href="#">Introducción</a></li>

                            <li><a class="dropdown-item" href="#">Descargas</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown mx-3">
                        <a class="nav-link dropdown-toggle" href="#" id="enfermedades-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Generales </a>
                        <ul class="dropdown-menu" aria-labelledby="enfermedades-dropdown">
                            <li><a class="dropdown-item" href="#">BRONCOPULMONAR</a></li>
                            <li><a class="dropdown-item" href="#">CARDIOLOGÍA</a></li>
                            <li><a class="dropdown-item" href="#">ENDOCRINOLOGÍA</a></li>
                            <li><a class="dropdown-item" href="#">GASTROENTEROLOGÍA</a></li>
                            <li><a class="dropdown-item" href="#">GENETICA</a></li>
                            <li><a class="dropdown-item" href="#">INFECTOLOGÍA</a></li>
                            <li><a class="dropdown-item" href="#">INMUNOLOGÍA Y REUMATOLOGÍA</a></li>
                            <li><a class="dropdown-item" href="#">NEFROLOGÍA</a></li>
                            <li><a class="dropdown-item" href="#">NEUROLOGÍA</a></li>
                            <li><a class="dropdown-item" href="#">NUTRICIÓN</a></li>
                            <li><a class="dropdown-item" href="#">PSIQUIATRÍA</a></li>
                            <li><a class="dropdown-item" href="#">ARSENAL FARMACOLÓGICO HGGB</a></li>
                            <li><a class="dropdown-item" href="#">EXAMENES DE LABORATORIO DISPONIBLES EN HGGB</a></li>

                        </ul>
                    </li>

                    <li class="nav-item mx-3">
                        <a class="nav-link" href="#">Protocolos</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>